openapi: 3.0.0

servers:
  - url: 'https://api.haskoin.com/bch/'
  - url: 'https://api.haskoin.com/btc/'
  - url: 'https://api.haskoin.com/bchtest/'
  - url: 'https://api.haskoin.com/btctest/'

info:
  version: &version 0.45.0
  title: Bitcoin (BCH/BTC) Query API
  contact:
    name: JP Rupp
    url: https://github.com/haskoin/haskoin-store
    email: jprupp@protonmail.ch
  license:
    name: MIT
    url: https://github.com/haskoin/haskoin-store/blob/master/store/LICENSE

tags:
  - name: Address
  - name: Transaction
  - name: Block
  - name: Network

paths:
  '/health':
    get:
      tags:
        - Network
      summary: Health Check
      operationId: healthCheck
      parameters:
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '503':
          description: unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/address/{address}/transactions':
    get:
      tags:
        - Address
      summary: Transactions for Address
      operationId: getAddressTxs
      parameters:
        - $ref: '#/components/parameters/addressParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Transaction list starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TxRef'
                example:
                  - txid: '128d3979e1837631688d54a5e55716d44617ef70da1237042abcea51128d4ae2'
                    block:
                      height: 1283392
                      position: 1
                  - txid: '5d53eb8a24d02f7b92825ff1b2b68f478c9b0129e8bbc90e9a893b461086c6b7'
                    block:
                      height: 1283391
                      position: 1
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/address/{address}/transactions/full':
    get:
      tags:
        - Address
      summary: Detailed Address Transactions
      operationId: getAddressTxsFull
      parameters:
        - $ref: '#/components/parameters/addressParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Detailed transactions starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/address/transactions':
    get:
      tags:
        - Address
      summary: Multiple Address Transactions
      operationId: getMultipleAddressTxs
      parameters:
        - $ref: '#/components/parameters/addressesParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of transactions starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TxRef'
                example:
                  - txid: '128d3979e1837631688d54a5e55716d44617ef70da1237042abcea51128d4ae2'
                    block:
                      height: 1283392
                      position: 1
                  - txid: '5d53eb8a24d02f7b92825ff1b2b68f478c9b0129e8bbc90e9a893b461086c6b7'
                    block:
                      height: 1283391
                      position: 1
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/address/transactions/full':
    get:
      tags:
        - Address
      summary: Multiple Address Detailed Transactions
      operationId: getMultipleAddressTxsFull
      parameters:
        - $ref: '#/components/parameters/addressesParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Detailed transactions starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/address/{address}/balance':
    get:
      tags:
        - Address
      operationId: getBalance
      summary: Address Balance
      parameters:
        - $ref: '#/components/parameters/addressParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Address balance and other stats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/address/balances':
    get:
      tags:
        - Address
      summary: Multiple Address Balances
      operationId: getMultipleAddressBalances
      parameters:
        - $ref: '#/components/parameters/addressesParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Address balances and other stats.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Balance'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid Address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/address/{address}/unspent':
    get:
      tags:
        - Address
      summary: Address Unspent Outputs
      operationId: getAddressUnspent
      parameters:
        - $ref: '#/components/parameters/addressParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of unspent outputs starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Unspent'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/address/unspent':
    get:
      tags:
        - Address
      summary: Multiple Address Unspent Outputs
      operationId: getMultipleAddressUnspent
      parameters:
        - $ref: '#/components/parameters/addressesParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of unspent outputs starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Unspent'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/best':
    get:
      tags:
        - Block
      summary: Block Chain Head
      operationId: getBlockHead
      parameters:
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Best block data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockData'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/best/raw':
    get:
      tags:
        - Block
      summary: Raw Block Chain Head
      operationId: getRawBlockHead
      responses:
        '200':
          description: >-
            Bitcoin protocol block.
            Hex string when using JSON.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: string
                    example: '0100000000000000000000000000000000000000000000000000000000000000000000003ba3edfd7a7b12b27ac72c3e67768f617fc81bc3888a51323a9fb8aa4b1e5e4a29ab5f49ffff001d1dac2b7c0101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff4d04ffff001d0104455468652054696d65732030332f4a616e2f32303039204368616e63656c6c6f72206f6e206272696e6b206f66207365636f6e64206261696c6f757420666f722062616e6b73ffffffff0100f2052a01000000434104678afdb0fe5548271967f1a67130b7105cd6a828e03909a67962e0ea1f61deb649f6bc3f4cef38c4f35504e51ec112de5c384df7ba0b8d578a4c702b6bf11d5fac00000000'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/latest':
    get:
      tags:
        - Block
      summary: Most Recent Blocks
      operationId: getLatestBlocks
      parameters:
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of most recent blocks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockData'
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/block/{block}':
    get:
      tags:
        - Block
      operationId: getBlock
      summary: Block Information
      parameters:
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/blockParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Block data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockData'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/block/{block}/raw':
    get:
      tags:
        - Block
      operationId: getRawBlock
      summary: Raw Block
      parameters:
        - $ref: '#/components/parameters/blockParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol block.
            Hex string when using JSON.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: string
                    example: '0100000000000000000000000000000000000000000000000000000000000000000000003ba3edfd7a7b12b27ac72c3e67768f617fc81bc3888a51323a9fb8aa4b1e5e4a29ab5f49ffff001d1dac2b7c0101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff4d04ffff001d0104455468652054696d65732030332f4a616e2f32303039204368616e63656c6c6f72206f6e206272696e6b206f66207365636f6e64206261696c6f757420666f722062616e6b73ffffffff0100f2052a01000000434104678afdb0fe5548271967f1a67130b7105cd6a828e03909a67962e0ea1f61deb649f6bc3f4cef38c4f35504e51ec112de5c384df7ba0b8d578a4c702b6bf11d5fac00000000'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/blocks':
    get:
      tags:
        - Block
      operationId: getBlocks
      summary: Information for Multiple Blocks
      parameters:
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/blocksParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of block data objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockData'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/height/{height}':
    get:
      tags:
        - Block
      operationId: getBlocksAtHeight
      summary: Blocks at Height
      parameters:
        - $ref: '#/components/parameters/blockHeightParam'
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Block data objects including orphans.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockData'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/height/{height}/raw':
    get:
      tags:
        - Block
      operationId: getRawBlocksAtHeight
      summary: Raw Blocks at Height
      parameters:
        - $ref: '#/components/parameters/blockHeightParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol blocks.
            Hex strings when using JSON.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: '0100000000000000000000000000000000000000000000000000000000000000000000003ba3edfd7a7b12b27ac72c3e67768f617fc81bc3888a51323a9fb8aa4b1e5e4a29ab5f49ffff001d1dac2b7c0101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff4d04ffff001d0104455468652054696d65732030332f4a616e2f32303039204368616e63656c6c6f72206f6e206272696e6b206f66207365636f6e64206261696c6f757420666f722062616e6b73ffffffff0100f2052a01000000434104678afdb0fe5548271967f1a67130b7105cd6a828e03909a67962e0ea1f61deb649f6bc3f4cef38c4f35504e51ec112de5c384df7ba0b8d578a4c702b6bf11d5fac00000000'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/time/{time}':
    get:
      tags:
        - Block
      operationId: getBlockAtTime
      summary: Block Mined at Time
      parameters:
        - $ref: '#/components/parameters/timeParam'
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Last block mined at or before specified time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockData'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/time/{time}/raw':
    get:
      tags:
        - Block
      operationId: getRawBlockAtTime
      summary: Raw Block Mined at Time
      parameters:
        - $ref: '#/components/parameters/timeParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol block mined at or before specified time.
            Hex string when using JSON.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: string
                    example: '0100000000000000000000000000000000000000000000000000000000000000000000003ba3edfd7a7b12b27ac72c3e67768f617fc81bc3888a51323a9fb8aa4b1e5e4a29ab5f49ffff001d1dac2b7c0101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff4d04ffff001d0104455468652054696d65732030332f4a616e2f32303039204368616e63656c6c6f72206f6e206272696e6b206f66207365636f6e64206261696c6f757420666f722062616e6b73ffffffff0100f2052a01000000434104678afdb0fe5548271967f1a67130b7105cd6a828e03909a67962e0ea1f61deb649f6bc3f4cef38c4f35504e51ec112de5c384df7ba0b8d578a4c702b6bf11d5fac00000000'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/mtp/{time}':
    get:
      tags:
        - Block
      operationId: getBlockMTP
      summary: Block Mined at Time
      parameters:
        - $ref: '#/components/parameters/timeParam'
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Block at Median Time Past
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockData'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/mtp/{time}/raw':
    get:
      tags:
        - Block
      operationId: getRawBlockMTP
      summary: Raw Block at Median Time Past
      parameters:
        - $ref: '#/components/parameters/timeParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol block mined after specified median time past.
            Hex string when using JSON.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: string
                    example: '0100000000000000000000000000000000000000000000000000000000000000000000003ba3edfd7a7b12b27ac72c3e67768f617fc81bc3888a51323a9fb8aa4b1e5e4a29ab5f49ffff001d1dac2b7c0101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff4d04ffff001d0104455468652054696d65732030332f4a616e2f32303039204368616e63656c6c6f72206f6e206272696e6b206f66207365636f6e64206261696c6f757420666f722062616e6b73ffffffff0100f2052a01000000434104678afdb0fe5548271967f1a67130b7105cd6a828e03909a67962e0ea1f61deb649f6bc3f4cef38c4f35504e51ec112de5c384df7ba0b8d578a4c702b6bf11d5fac00000000'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/heights':
    get:
      tags:
        - Block
      operationId: getBlocksAtHeights
      summary: Blocks at Multiple Heights
      parameters:
        - $ref: '#/components/parameters/blockHeightsParam'
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of block data objects at specified heights.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockData'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/transaction/{txid}':
    get:
      tags:
        - Transaction
      operationId: getTransaction
      summary: Detailed Transaction
      parameters:
        - $ref: '#/components/parameters/txidParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Detailed transaction object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Transaction not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/transaction/{txid}/raw':
    get:
      tags:
        - Transaction
      operationId: getRawTransaction
      summary: Raw Transaction
      parameters:
        - $ref: '#/components/parameters/txidParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol transaction.
            Hex string if using JSON.
          content:
            application/json:
              schema:
                type: string
                example: '01000000017795e2e9960d5aaf8bd679521e1928a0ade0c8ac4d0c2b1d8529c5be5e68b75f000000006b483045022100bb913689120d3b0c15a4cbf8692db56b280fce590d6742c0786eb9e86adafeff022057eb92814fa417349a867aa38b8a7c38a12c72ae6fa3b479b2e477c5a4482898412103d740fe05c374c9ffdc294d6d486b4b490db9322124cafbd56fee3a71cb9c006cfeffffff02481f3d00000000001976a914151a5bd62929872630531213391c3e2952fa069c88ac00000000000000002c6a09696e7465726c696e6b2094112b9aec1d3e1e7c397d40330c920677f74966c858f5ccf940bdb43c580c3000000000'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Transaction not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/xpub/{xpub}/evict':
    get:
      tags:
        - Address
      operationId: evictXPub
      summary: Evict Extended Public Key from Cache
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: >-
            Extended public key successfully evicted from cache.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: boolean
                    example: true
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/transaction/{txid}/after/{height}':
    get:
      tags:
        - Transaction
      operationId: cbAfterHeight
      summary: Hard Fork Safety Check
      parameters:
        - $ref: '#/components/parameters/txidParam'
        - $ref: '#/components/parameters/blockHeightParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: >-
            Specify height of last common block to find out if this transaction
            is invalid on alternate chain.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: boolean
                    nullable: true
                    example: true
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/transactions':
    get:
      tags:
        - Transaction
      operationId: getTransactions
      summary: Multiple Detailed Transactions
      parameters:
        - $ref: '#/components/parameters/txidsParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of detailed transaction objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
            application/octet-stream:
              schema:
                type: string
                format: binary

    post:
      tags:
        - Transaction
      operationId: postTransaction
      requestBody:
        description: Publish Transaction
        content:
          text/plain:
            schema:
              type: string
              description: Hex-encoded Bitcoin protocol transaction.
              example: '01000000017795e2e9960d5aaf8bd679521e1928a0ade0c8ac4d0c2b1d8529c5be5e68b75f000000006b483045022100bb913689120d3b0c15a4cbf8692db56b280fce590d6742c0786eb9e86adafeff022057eb92814fa417349a867aa38b8a7c38a12c72ae6fa3b479b2e477c5a4482898412103d740fe05c374c9ffdc294d6d486b4b490db9322124cafbd56fee3a71cb9c006cfeffffff02481f3d00000000001976a914151a5bd62929872630531213391c3e2952fa069c88ac00000000000000002c6a09696e7465726c696e6b2094112b9aec1d3e1e7c397d40330c920677f74966c858f5ccf940bdb43c580c3000000000'
          application/octet-stream:
            schema:
              type: string
              format: binary
              description: Bitcoin protocol transaction.
      responses:
        '200':
          description: Transaction accepted by network peer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxId'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Transaction rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

        '500':
          description: |
            Publishing transaction failed for one of these reasons:

            * No network peers available.
            * Timeout while publishing, most likely silent rejection.
            * Network peer disconnected while publishing transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/transactions/block/{block}':
    get:
      tags:
        - Transaction
        - Block
      operationId: getBlockTransactions
      summary: Transactions for Block
      parameters:
        - $ref: '#/components/parameters/blockParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Detailed transactions from specified Block.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/transactions/block/{block}/raw':
    get:
      tags:
        - Transaction
        - Block
      operationId: getRawBlockTransactions
      summary: Raw Block Transactions
      parameters:
        - $ref: '#/components/parameters/blockParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol transactions.
            Hex strings if using JSON.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: '01000000017795e2e9960d5aaf8bd679521e1928a0ade0c8ac4d0c2b1d8529c5be5e68b75f000000006b483045022100bb913689120d3b0c15a4cbf8692db56b280fce590d6742c0786eb9e86adafeff022057eb92814fa417349a867aa38b8a7c38a12c72ae6fa3b479b2e477c5a4482898412103d740fe05c374c9ffdc294d6d486b4b490db9322124cafbd56fee3a71cb9c006cfeffffff02481f3d00000000001976a914151a5bd62929872630531213391c3e2952fa069c88ac00000000000000002c6a09696e7465726c696e6b2094112b9aec1d3e1e7c397d40330c920677f74966c858f5ccf940bdb43c580c3000000000'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/transactions/raw':
    get:
      tags:
        - Transaction
      operationId: getRawTransactions
      summary: Raw Transactions
      parameters:
        - $ref: '#/components/parameters/txidsParam'
      responses:
        '200':
          description: >
            Bitcoin protocol transactions.
            Hex strings if using JSON.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: '01000000017795e2e9960d5aaf8bd679521e1928a0ade0c8ac4d0c2b1d8529c5be5e68b75f000000006b483045022100bb913689120d3b0c15a4cbf8692db56b280fce590d6742c0786eb9e86adafeff022057eb92814fa417349a867aa38b8a7c38a12c72ae6fa3b479b2e477c5a4482898412103d740fe05c374c9ffdc294d6d486b4b490db9322124cafbd56fee3a71cb9c006cfeffffff02481f3d00000000001976a914151a5bd62929872630531213391c3e2952fa069c88ac00000000000000002c6a09696e7465726c696e6b2094112b9aec1d3e1e7c397d40330c920677f74966c858f5ccf940bdb43c580c3000000000'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/mempool':
    get:
      tags:
        - Transaction
      operationId: getMempool
      summary: Mempool Transaction Hashes
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of transaction hashes from mempool.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - '8198a7924b0c4cc5d1b71e48b4f28e5106d2d536181d018acecb6e9f7ebce689'
                  - 'eed4160b9919901e7f55a93d5e9f1add5c7e56c930276532673105844c233b3f'
                  - 'cdb3793bb6c2669e01da5e8751d8975766c81fbce7bd9d7d08414b84448d3129'
                  - '870d7515f9ab782f7b84d3bf15d40e801b835d4abc5389f522d29e5ace223de9'
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/events':
    get:
      tags:
        - Block
        - Transaction
      operationId: getEventStream
      parameters:
        - $ref: '#/components/parameters/prettyParam'
      summary: Stream Blocks and Transactions
      responses:
        '200':
          description: Events stream each on one line.
          content:
            application/x-json-stream:
              schema:
                $ref: '#/components/schemas/Event'
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/peers':
    get:
      tags:
        - Network
      operationId: getPeers
      parameters:
        - $ref: '#/components/parameters/prettyParam'
      summary: Connected Network Peers
      responses:
        '200':
          description: List of peer objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Peer'
                example:
                  - useragent: '/Bitcoin ABC:0.18.5(EB32.0)/'
                    address: '34.245.216.80:18333'
                    version: 70015
                    services: '0000000000000025'
                    relay: true
                  - useragent: '/Bitcoin SV:0.1.0(EB128.0)/'
                    address: '142.93.42.82:18333'
                    version: 70015
                    services: '0000000000000025'
                    relay: true
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/xpub/{xpub}':
    get:
      tags:
        - Address
      operationId: getXPubSummary
      summary: Extended Public Key Summary
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Information about extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XPubSummary'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/xpub/{xpub}/transactions/full':
    get:
      tags:
        - Address
      operationId: getXPubTransactionsFull
      summary: Detailed Extended Public Key Transactions
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of transaction objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/xpub/{xpub}/transactions':
    get:
      tags:
        - Address
      operationId: getXPubTransactions
      summary: Extended Public Key Transaction List
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of transactions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TxRef'
                example:
                  - block:
                      height: 765798
                      position: 6
                    txid: '534fedf9caf3323e4a08f17d813199a0b3f561b1c9d58ad4a50278a611e8a45d'
                  - block:
                      height: 765798
                      position: 5
                    txid: 'be45116b6f505a4d5d8fb17cfe12678f70e9ac2df003aae1ce89c37cbc034384'
                  - block:
                      height: 765798
                      position: 4
                    txid: '14288fc7465fa8c786fd19e31d163688ced5d66636e9f761b4e8e376f2421492'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/xpub/{xpub}/balances':
    get:
      tags:
        - Address
      operationId: getXPubBalances
      summary: Extended Public Key Balances
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Balances only for used addresses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XPubBalance'
                example:
                  - path: [1,8]
                    balance:
                      received: 199880000
                      utxo: 0
                      address: 'bchtest:qrmaylmr0t7ad0sg80nwdfw2ft5ysn3hccvhk5rp89'
                      txs: 2
                      unconfirmed: 0
                      confirmed: 0
                  - path: [1,9]
                    balance:
                      received: 199770000
                      utxo: 0
                      address: 'bchtest:qrta9zrumx2x9xlkj3ecxurpkv0zspv9xy7tlreccv'
                      txs: 2
                      unconfirmed: 0
                      confirmed: 0
                  - path: [1,10]
                    balance:
                      received: 199770000
                      utxo: 0
                      address: 'bchtest:qquvk7vrffk7m76x24tnr572mjpykghhg5fjptsjs6'
                      txs: 2
                      unconfirmed: 0
                      confirmed: 0
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/xpub/{xpub}/unspent':
    get:
      tags:
        - Address
      operationId: getXPubUnspent
      summary: Extended Public Key Unspent Outputs
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of unspent output objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XPubUnspent'
                example:
                  - path: [0,1959]
                    unspent:
                      pkscript: '76a914a7ec2ca3345ebe30c265bab1f4bbfb0e7716727288ac'
                      value: 1000000
                      address: 'bchtest:qzn7ct9rx30tuvxzvkatra9mlv88w9njwg0p0gqkjv'
                      block:
                        height: 1096570
                        position: 9
                      index: 0
                      txid: '717c7732a6e30c7a06b3c0f5eac040878d6e6f91e17c2471d38eb28050af8cac'
                  - path: [0,1792]
                    unspent:
                      pkscript: '76a91472dbe14842d2e6d7da1c03e81012a9835c6c646488ac'
                      value: 10000
                      address: 'bchtest:qpedhc2ggtfwd476rsp7syqj4xp4cmryvs98s3w6u2'
                      block:
                        height: 1092503
                        position: 12
                      index: 1
                      txid: '2733fcd7d55f5f7696e18f1eaaa5f9970cd88e063af4775e4139f1eb5482a856'
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/blockchain/multiaddr':
    get:
      tags:
        - Blockchain
      operationId: getBinfoMultiAddr
      summary: Wallet Data
      parameters:
        - $ref: '#/components/parameters/binfoActive'
        - $ref: '#/components/parameters/binfoActiveP2SH'
        - $ref: '#/components/parameters/binfoActiveBech32'
        - $ref: '#/components/parameters/binfoOnlyShow'
        - $ref: '#/components/parameters/binfoCount'
        - $ref: '#/components/parameters/binfoOffset'
        - $ref: '#/components/parameters/binfoNoCompact'
        - $ref: '#/components/parameters/binfoCurrency'
        - $ref: '#/components/parameters/binfoCashAddr'
        - $ref: '#/components/parameters/binfoTxIdIndex'
      responses:
        '200':
          description: Wallet information object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinfoMultiAddr'
        '404':
          description: Invalid argument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Blockchain
      operationId: postBinfoMultiAddr
      summary: Wallet Data
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BinfoMultiAddrReq'
      responses:
        '200':
          description: Wallet information object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinfoMultiAddr'
        '404':
          description: Invalid argument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/blockchain/rawtx/{txid}':
    get:
      tags:
        - Blockchain
      operationId: getBinfoRawTx
      summary: Transaction Data
      parameters:
        - $ref: '#/components/parameters/binfoTxId'
        - $ref: '#/components/parameters/binfoFormat'
      responses:
        '200':
          description: Transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinfoTx'
            application/text:
              schema:
                type: string
                example: '010000000396997b6d709f04ecb91ef389421153d9cb5c4561fbebe717f3cae3cb62aa0a8b010000006b4830450221008bbcfc0ca16cec7f8f2a5303e1052bcc765274ff9eeeff54353aa0150edc4df10220178fb7340eae165688f45571b7b33d6d6b2e9e486008a84a5894beec907d7933412102761b22b06bbdae91162367aa3d85fe52b32a15f762c1dc7f421a01b4afd29931ffffffff5e1e58c91c197fbe359c8576ead6f6cbc2e8b261f7d037e7815150f67b868ef6000000006b483045022100ae349f01139deabd0de7dc27e8feaf1f37c40c1f8b4f7b2e39b2fd463d32bce0022074e36438751b93dcada9b9df03fadc20e126880f4f033751c92e4bb80fbd17e64121025085f19449fbe37a9eccdce56d41fc2d2d42971f5936e5bda6c4dcb8c4d7d271ffffffff6341b0c2a1c969ced40ccf348ae2f47d9bf4d7dfe42e28215f16549e58ee1aaf010000006a473044022072bc9402f43186f7b5522f8124857561ccf47df6f5dd35ce1a51bd33336915cc022072418ca96f3ec5228acbca67735c47c337a03d53ac39ec66b0c41c0e2133b16f4121024641e34d30ae4bde842925db6fcc95a8d2e515fdd2ca85b8c462cc8ba9cfa413ffffffff03581b0000000000001976a9141369d9bd3ea79896797c4143c97e9748cc06262d88aca4b20000000000001976a9148ecd9c021c8650db874940103f1f77e6da14d88e88ac22020000000000001976a91455298af255797243ac6a68b81d006b0a56f5d05188ac00000000'
        '404':
          description: Transaction not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Transaction index conflict.
          content:
            applicaton/json:
              schema:
                $ref: '#/components/schemas/BinfoTxIndexConflict'

  '/blockchain/unspent':
    get:
      tags:
        - Blockchain
      operationId: getBinfoUnspent
      summary: Unspent Outputs
      parameters:
        - $ref: '#/components/parameters/binfoActive'
        - $ref: '#/components/parameters/binfoActiveP2SH'
        - $ref: '#/components/parameters/binfoActiveBech32'
        - $ref: '#/components/parameters/binfoLimit'
        - $ref: '#/components/parameters/binfoConfirmations'
      responses:
        '200':
          description: Unspent outputs.
          content:
            application/json:
              schema:
                type: object
                required:
                  - unspent_outputs
                properties:
                  unspent_outputs:
                    type: array
                    items:
                      $ref: '#/components/schemas/BinfoUnspent'
        '400':
          description: Invalid argument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
components:
  schemas:
  
    BlockRef:
      oneOf:
        - $ref: '#/components/schemas/Block'
        - $ref: '#/components/schemas/Mempool'
      example:
        mempool: 1548766186903

    Block:
      type: object
      required:
        - height
        - position
      properties:
        height:
          description: Block height.
          type: integer
          example: 1283393
        position:
          description: Position of transaction within block.
          type: integer
          example: 2

    Mempool:
      type: object
      required:
        - mempool
      properties:
        mempool:
          description: Time when transaction was accepted in local mempool.
          type: integer
          format: int64
          example: 1548766187

    XPubBalance:
      type: object
      required:
        - path
        - balance
      properties:
        path:
          $ref: '#/components/schemas/XPubPath'
        balance:
          $ref: '#/components/schemas/Balance'

    XPubPath:
      type: array
      description: Extended public key derivation path for an address.
      items:
        type: integer
      example: [1, 10]

    XPubUnspent:
      type: object
      required:
        - path
        - unspent
      properties:
        path:
          $ref: '#/components/schemas/XPubPath'
        unspent:
          $ref: '#/components/schemas/Unspent'

    XPubSummary:
      type: object
      required:
        - balance
        - indices
      properties:
        balance:
          type: object
          description: Aggregate balance for all addresses in extended public key.
          required:
            - confirmed
            - unconfirmed
            - received
            - utxo
          properties:
            confirmed:
              description: Confirmed balance for all addresses.
              type: integer
            unconfirmed:
              description: Unconfirmed balance for all addresses.
              type: integer
            received:
              description: Total received on all external addresses.
              type: integer
            utxo:
              description: Unspent transaction output count.
              type: integer
        indices:
          type: object
          description: >-
            Highest derivation indices used on extended public key.
            See: [BIP-44](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki)
          required:
            - external
            - change
          properties:
            external:
              type: integer
            change:
              type: integer

    TxRef:
      type: object
      description: Transaction hash and blockchain position or mempool timestamp.
      required:
        - block
        - txid
      properties:
        block:
          $ref: '#/components/schemas/BlockRef'
        txid:
          type: string
          example: '534fedf9caf3323e4a08f17d813199a0b3f561b1c9d58ad4a50278a611e8a45d'

    Balance:
      type: object
      required:
        - address
        - confirmed
        - unconfirmed
        - utxo
        - received
        - txs
      properties:
        address:
          type: string
          example: 'bchtest:qrr724dvaz5kdhujv52urdrwv0hy4jxpusgspun650'
        confirmed:
          type: integer
          format: int64
          description: Sum of confirmed unspent output values.
          example: 0
        unconfirmed:
          type: integer
          format: int64
          description: Sum of unconfirmed unspent output values.
          example: 0
        utxo:
          description: Total number of unspent outputs.
          type: integer
          format: int64
          example: 0
        received:
          description: Total received by this address including spent.
          type: integer
          format: int64
          example: 4013201
        txs:
          description: Number of transactions affecting this address.
          type: integer
          format: int64
          example: 2

    Unspent:
      type: object
      description: Information about unspent output.
      required:
        - address
        - block
        - txid
        - index
        - pkscript
        - value
      properties:
        address:
          type: string
          nullable: true
          example: 'qq235k7k9y5cwf3s2vfpxwgu8c5497sxnsdnxv6upc'
        block:
          $ref: '#/components/schemas/BlockRef'
        txid:
          type: string
          example: '0d5764c89d3fbf8bea9b329ad5e0ddb6047e72313c0f7b54dcb14f4d242da64b'
        index:
          type: integer
          example: 0
        pkscript:
          type: string
          example: '76a914151a5bd62929872630531213391c3e2952fa069c88ac'
        value:
          type: integer
          format: int64
          description: Value in satoshi.
          example: 4005704

    BlockData:
      type: object
      required:
        - hash
        - height
        - mainchain
        - previous
        - time
        - version
        - bits
        - nonce
        - size
        - tx
        - merkle
        - subsidy
        - fees
        - outputs
        - work
      properties:
        hash:
          type: string
          example: '000000000000069cc8b7d9cb759a59f754692d9cb5b4e4b7a9dba37c57ab65e8'
        size:
          type: integer
          description: >-
            Raw size of a block, including witness data. This is not the virtual
            size and does not compute segwit discounts.
          example: 722
        height:
          type: integer
          example: 1283393
        mainchain:
          type: boolean
          description: This block is part of the main chain.
          example: true
        previous:
          type: string
          example: '000000000000024005a247066be86876777cd84f5bbbc21ba02d32e7822c2fb9'
        time:
          type: integer
          format: int64
          example: 1548766137
        version:
          type: integer
          format: int64
          example: 536870912
        bits:
          type: integer
          format: int64
          example: 437016577
        nonce:
          type: integer
          format: int64
          example: 12019207
        tx:
          type: array
          example:
            - '17106222f0c49ff2553e0fe39966d6fbd08b1d5ea3ef5b2359d94a69846b50fc'
            - '5fb7685ebec529851d2b0c4dacc8e0ada028191e5279d68baf5a0d96e9e29577'
            - 'ce0b0d3ac21b91f24b5b0fc8f057071656496aa898fa7ee01f6b1f7d9b169a9a'
          items:
            type: string
        merkle:
          type: string
          example: '76999ce20135a02df2d7a7a78282fd748b8804b76a817a25ced05f1cf4f2d2a5'
        subsidy:
          type: integer
          format: int64
          description: Total block subsidy in satoshi.
          example: 78125000
        fees:
          type: integer
          format: int64
          description: Total transaction fees in satoshi.
          example: 115499
        outputs:
          type: integer
          format: int64
          description: Total outputs from this block, including spent.
          example: 470103316006
        weight:
          type: integer
          description: Segwit block weight. Only on segwit networks.
        work:
          type: integer
          description: Accumulated proof-of-work.

    Input:
      type: object
      required:
        - coinbase
        - txid
        - output
        - sigscript
        - sequence
        - pkscript
        - witness
        - value
        - address
      properties:
        coinbase:
          type: boolean
          example: false
        txid:
          type: string
          example: '5fb7685ebec529851d2b0c4dacc8e0ada028191e5279d68baf5a0d96e9e29577'
        output:
          type: integer
          example: 0
        sigscript:
          type: string
          example: '483045022100bb913689120d3b0c15a4cbf8692db56b280fce590d6742c0786eb9e86adafeff022057eb92814fa417349a867aa38b8a7c38a12c72ae6fa3b479b2e477c5a4482898412103d740fe05c374c9ffdc294d6d486b4b490db9322124cafbd56fee3a71cb9c006c'
        value:
          type: integer
          format: int64
          nullable: true
          example: 4008203
        sequence:
          type: integer
          format: int64
          example: 4294967294
        address:
          type: string
          nullable: true
          example: 'bchtest:qzyrvsm6z4ucrhaq4zza3wylre7mavvldgr67jrxt4'
        pkscript:
          type: string
          nullable: true
          example: '76a9148836437a157981dfa0a885d8b89f1e7dbeb19f6a88ac'
        witness:
          description: Witness Data if applies.
          type: array
          example: []
          items:
            type: string

    Spender:
      type: object
      description: Reference to a transaction input.
      required:
        - txid
        - input
      properties:
        txid:
          type: string
          example: '5fb7685ebec529851d2b0c4dacc8e0ada028191e5279d68baf5a0d96e9e29577'
        input:
          type: integer
          example: 0

    Output:
      type: object
      description: Transactiotn output data.
      required:
        - address
        - pkscript
        - value
        - spent
      properties:
        address:
          type: string
          nullable: true
          example: 'bchtest:qzy3e4pnrglcd3ump5ndqrwu5qv2j8szcv6extyerq'
        pkscript:
          type: string
          example: '76a914891cd4331a3f86c79b0d26d00ddca018a91e02c388ac'
        value:
          type: integer
          format: int64
          example: 4010702
        spent:
          type: boolean
          example: true
        spender:
          $ref: '#/components/schemas/Spender'

    Transaction:
      type: object
      description: Detailed transaction information.
      required:
        - txid
        - size
        - version
        - locktime
        - fee
        - inputs
        - outputs
        - block
        - deleted
        - time
        - rbf
        - weight
      properties:
        txid:
          type: string
          example: '0d5764c89d3fbf8bea9b329ad5e0ddb6047e72313c0f7b54dcb14f4d242da64b'
        size:
          type: integer
          description: >-
            Raw transaction size including witness data but excluding segwit
            discount calculations.
          example: 245
        version:
          type: integer
          format: int64
          example: 1
        locktime:
          type: integer
          format: int64
          example: 0
        fee:
          type: integer
          format: int64
          example: 2499
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/Input'
          example:
            - pkscript: '76a9148836437a157981dfa0a885d8b89f1e7dbeb19f6a88ac'
              value: 4008203 
              address: 'bchtest:qzyrvsm6z4ucrhaq4zza3wylre7mavvldgr67jrxt4'
              sequence: 4294967294
              output: 0
              sigscript: '483045022100bb913689120d3b0c15a4cbf8692db56b280fce590d6742c0786eb9e86adafeff022057eb92814fa417349a867aa38b8a7c38a12c72ae6fa3b479b2e477c5a4482898412103d740fe05c374c9ffdc294d6d486b4b490db9322124cafbd56fee3a71cb9c006c'
              coinbase: false
              txid: '5fb7685ebec529851d2b0c4dacc8e0ada028191e5279d68baf5a0d96e9e29577'
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/Output'
          example:
            - spent: true
              pkscript: '76a914151a5bd62929872630531213391c3e2952fa069c88ac'
              value: 4005704
              address: 'bchtest:qq235k7k9y5cwf3s2vfpxwgu8c5497sxnsdnxv6upc'
              spender:
                input: 0
                txid: 'f1173bb9269c5f7da1e188fae7b6295f3ed4d2861fbd45f4b5415f5bbe06d8ae'
            - spent: false
              pkscript: '6a09696e7465726c696e6b2094112b9aec1d3e1e7c397d40330c920677f74966c858f5ccf940bdb43c580c30'
              value: 0
              address: null
        block:
          $ref: '#/components/schemas/BlockRef'
        deleted:
          type: boolean
          description: This transaction is no longer valid.
          example: false
        time:
          type: integer
          format: int64
          example: 1548767230
        rbf:
          type: boolean
          example: false
          description: Vulnerable to replace-by-fee.
        weight:
          type: integer
          example: 980
          description: Segwit transaction weight.

    Event:
      type: object
      required:
        - type
        - id
      properties:
        type:
          type: string
          enum:
            - tx
            - block
          example: block
        id:
          type: string
          description: Block or transaction hash
          example: '000000000000069cc8b7d9cb759a59f754692d9cb5b4e4b7a9dba37c57ab65e8'

    Peer:
      type: object
      required:
        - useragent
        - address
        - version
        - services
        - relay
      properties:
        useragent:
          type: string
          example: '/Bitcoin ABC:0.18.4(EB32.0)/'
        address:
          type: string
          example: '34.253.51.235:18333'
        version:
          type: integer
          example: 70015
        services:
          type: string
          example: '0000000000000025'
        relay:
          type: boolean
          description: This peer will relay transactions.
          example: true

    BlockHealth:
      type: object
      required:
        - headers
        - blocks
        - diff
        - max
        - ok
      properties:
        headers:
          type: integer
          example: 500000
        blocks:
          type: integer
          example: 500000
        diff:
          type: integer
          example: 0
        max:
          type: integer
          example: 2
        ok:
          type: boolean
          example: true

    TimeHealth:
      type: object
      required:
        - age
        - max
        - ok
      properties:
        age:
          type: integer
          example: 20
        max:
          type: integer
          example: 600
        ok:
          type: boolean
          example: true

    CountHealth:
      type: object
      required:
        - count
        - min
        - ok
      properties:
        count:
          type: integer
          example: 20
        min:
          type: integer
          example: 5
        ok:
          type: boolean
          example: true

    MaxHealth:
      type: object
      required:
        - count
        - max
        - ok
      properties:
        count:
          type: integer
          example: 20
        max:
          type: integer
          example: 10
        ok:
          type: boolean
          example: false

    HealthCheck:
      type: object
      required:
        - blocks
        - last-block
        - last-tx
        - pending-txs
        - peers
        - net
        - version
        - ok
      properties:
        blocks:
          $ref: '#/components/schemas/BlockHealth'
        last-block:
          $ref: '#/components/schemas/TimeHealth'
        last-tx:
          $ref: '#/components/schemas/TimeHealth'
        pending-txs:
          $ref: '#/components/schemas/MaxHealth'
        peers:
          $ref: '#/components/schemas/CountHealth'
        net:
          type: string
          example: bchtest
        version:
          type: string
          example: *version
        ok:
          type: boolean
          example: true

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
    TxId:
      type: object
      required:
        - txid
      properties:
        txid:
          type: string
          example: '000000000000069cc8b7d9cb759a59f754692d9cb5b4e4b7a9dba37c57ab65e8'

    BinfoTxIdHash:
      type: string
      example: '000000000000069cc8b7d9cb759a59f754692d9cb5b4e4b7a9dba37c57ab65e8'

    BinfoTxIdIndex:
      type: integer
      example: 1254181078042813

    BinfoTxId:
      oneOf:
        - $ref: '#/components/schemas/BinfoTxIdHash'
        - $ref: '#/components/schemas/BinfoTxIdIndex'

    BinfoWallet:
      type: object
      required:
        - final_balance
        - n_tx
        - n_tx_filtered
        - total_received
        - total_sent
      properties:
        final_balance:
          type: integer
        n_tx:
          type: integer
        n_tx_filtered:
          type: integer
        total_received:
          type: integer
        total_sent:
          type: integer
      example:
        final_balance: 93247
        n_tx: 0
        n_tx_filtered: 0
        total_received: 0
        total_sent: 0


    BinfoSymbol:
      type: object
      required:
        - code
        - symbol
        - name
        - conversion
        - symbolAppearsAfter
        - local
      properties:
        code:
          type: string
        symbol:
          type: string
        name:
          type: string
        conversion:
          type: number
          format: double
        symbolAppearsAfter:
          type: boolean
        local:
          type: boolean
      example:
        code: USD
        symbol: '$'
        name: 'U.S. dollar'
        conversion: 2076.3244406433864
        symbolAppearsAfter: false
        local: true

    BinfoBlockInfo:
      type: object
      required:
        - hash
        - height
        - time
        - block_index
      properties:
        hash:
          type: string
        height:
          type: integer
        time:
          type: integer
        block_index:
          type: integer
      example:
        hash: '00000000000000000002fff9a97907f214be1212445de95e8afe94de76e23f01'
        height: 670722
        time: 1613394320
        block_index: 670722

    BinfoInfo:
      type: object
      required:
        - nconnected
        - conversion
        - symbol_local
        - symbol_btc
        - latest_block
      properties:
        nconnected:
          type: integer
        conversion:
          type: number
          format: double
        symbol_local:
          $ref: '#/components/schemas/BinfoSymbol'
        symbol_btc:
          $ref: '#/components/schemas/BinfoSymbol'
        latest_block:
          $ref: '#/components/schemas/BinfoBlockInfo'

    BinfoXPubBalance:
      type: object
      required:
        - address
        - final_balance
        - n_tx
        - total_received
        - total_sent
        - account_index
        - change_index
      properties:
        address:
          type: string
        final_balance:
          type: integer
          format: int64
        n_tx:
          type: integer
        total_received:
          type: integer
          format: int64
        total_sent:
          type: integer
          format: int64
        account_index:
          type: integer
        change_index:
          type: integer
      example:
        address: "xpub6By8JDaPr5L6oHfgQDc47quD69qH1hTwnFYbuia8paiYxSE9u84KZfYqn6xLMUqxKK3wNpsgP4Kwu1gzXHD5xBxj5HrLposEYL6PwZzpAMZ"
        final_balance: 93247
        change_index: 21
        account_index: 67
        n_tx: 0
        total_received: 0
        total_sent: 0


    BinfoAddrBalance:
      type: object
      required:
        - address
        - final_balance
        - n_tx
        - total_received
        - total_sent
      properties:
        address:
          type: string
        final_balance:
          type: integer
          format: int64
        n_tx:
          type: integer
        total_received:
          type: integer
          format: int64
        total_sent:
          type: integer
          format: int64
      example:
        address: "1Nu4yKECn2XwWBvix9xHenw883T4L7pkqe"
        final_balance: 0
        n_tx: 2
        total_received: 546
        total_sent: 546


    BinfoBalance:
      oneOf:
        - $ref: '#/components/schemas/BinfoXPubBalance'
        - $ref: '#/components/schemas/BinfoAddrBalance'

    BinfoMultiAddr:
      type: object
      required:
        - wallet
        - info
        - addresses
        - recommend_include_fee
      properties:
        wallet:
          $ref: '#/components/schemas/BinfoWallet'
        info:
          $ref: '#/components/schemas/BinfoInfo'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/BinfoBalance'
        txs:
          type: array
          items:
            $ref: '#/components/schemas/BinfoTx'
        recommend_include_fee:
          type: boolean
        cash_addr:
          type: boolean

    BinfoTxInput:
      type: object
      required:
        - index
        - script
        - prev_out
        - sequence
        - witness
      properties:
        index:
          type: integer
        script:
          type: string
        prev_out:
          $ref: '#/components/schemas/BinfoTxOutput'
        sequence:
          type: integer
        witness:
          type: string
      example:
        sequence: 4294967295
        witness: ''
        script: 483045022100bd1861957b8f72b5a8b6b75e483b62e9c8692b65db26fd4a480210487bf247f10220049af754f49db585b36aa858f11ea9c79b3eaeabf57f1e5fab6c1f2ad399432d412102306ce056059dc6df45d8aa806f8af6fd4cb1503d690a5cf7dd3f688d62417779
        index: 0
        prev_out:
          spent: true
          script: 76a914a94adb862a6b6904fd849929032de80777612f9188ac
          xpub:
            path: M/1/18
            m: xpub6By8JDaPr5L6oHfgQDc47quD69qH1hTwnFYbuia8paiYxSE9u84KZfYqn6xLMUqxKK3wNpsgP4Kwu1gzXHD5xBxj5HrLposEYL6PwZzpAMZ
          spending_outpoints:
          - tx_index: 6121962258386897
            n: 0
          tx_index: 5298750237840352
          value: 41190
          addr: 1GS8scRWFavFrCoa2XQpSagARVpin66psR
          n: 0
          type: 0

    BinfoXPubPath:
      type: object
      required:
        - 'm'
        - path
      properties:
        m:
          type: string
        path:
          type: string
      example:
        m: xpub6By8JDaPr5L6oHfgQDc47quD69qH1hTwnFYbuia8paiYxSE9u84KZfYqn6xLMUqxKK3wNpsgP4Kwu1gzXHD5xBxj5HrLposEYL6PwZzpAMZ
        path: M/1/18

    BinfoSpender:
      type: object
      required:
        - tx_index
        - 'n'
      properties:
        tx_index:
          $ref: '#/components/schemas/BinfoTxId'
        n:
          type: integer
      example:
        tx_index: 6121962258386897
        n: 0

    BinfoTxOutput:
      type: object
      required:
        - 'n'
        - type
        - spent
        - value
        - spending_outpoints
        - tx_index
        - script
      properties:
        type:
          type: integer
        spent:
          type: boolean
        value:
          type: integer
          format: int64
        spending_outpoints:
          $ref: '#/components/schemas/BinfoSpender'
        n:
          type: integer
        tx_index:
          $ref: '#/components/schemas/BinfoTxId'
        script:
          type: string
        addr:
          type: string
        xpub:
          $ref: '#/components/schemas/BinfoXPubPath'
      example:
        type: 0
        spent: false
        value: 19515
        spending_outpoints: []
        n: 0
        tx_index: 6121962258386897
        script: 76a914bcd2b9001eea656e1a69f280cdc8dd86dbc8bf9288ac
        addr: 1JDQULCm39kjsiFsbd2z9pnMq22a5xUzGt
        xpub:
          path: M/1/20
          m: xpub6By8JDaPr5L6oHfgQDc47quD69qH1hTwnFYbuia8paiYxSE9u84KZfYqn6xLMUqxKK3wNpsgP4Kwu1gzXHD5xBxj5HrLposEYL6PwZzpAMZ


    BinfoTx:
      type: object
      required:
        - hash
        - ver
        - vin_sz
        - vout_sz
        - size
        - weight
        - fee
        - relayed_by
        - lock_time
        - tx_index
        - double_spend
        - time
        - block_index
        - block_height
        - inputs
        - out
      properties:
        hash:
          type: string
        ver:
          type: integer
        vin_sz:
          type: integer
        vout_sz:
          type: integer
        size:
          type: integer
        weight:
          type: integer
        fee:
          type: integer
          format: int64
        relayed_by:
          type: string
        lock_time:
          type: integer
        tx_index:
          $ref: '#/components/schemas/BinfoTxId'
        double_spend:
          type: boolean
        time:
          type: integer
        block_index:
          type: integer
        block_height:
          type: integer
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/BinfoTxInput'
        out:
          type: array
          items:
            $ref: '#/components/schemas/BinfoTxOutput'
        result:
          type: integer
          format: int64
        balance:
          type: integer
          format: int64
        rbf:
          type: boolean

    BinfoUnspent:
      type: object
      required:
        - tx_hash_big_endian
        - tx_hash
        - tx_output_n
        - script
        - value
        - value_hex
        - confirmations
        - tx_index
      properties:
        tx_hash_big_endian:
          type: string
        tx_hash:
          type: string
        tx_output_n:
          type: integer
        script:
          type: string
        value:
          type: integer
          format: int64
        value_hex:
          type: string
        confirmations:
          type: integer
        tx_index:
          $ref: '#/components/schemas/BinfoTxId'
      example:
        tx_hash_big_endian: 4890ab0fed725daa08879afcea302a4c7925c094c98676cab3edcaa186adbc41
        tx_hash: 41bcad86a1caedb3ca7686c994c025794c2a30eafc9a8708aa5d72ed0fab9048
        tx_output_n: 1
        script: 76a9148ecd9c021c8650db874940103f1f77e6da14d88e88ac
        value: 45732
        value_hex: b2a4
        confirmations: 1708
        tx_index: 2312915870038365
        xpub:
          m: xpub6By8JDaPr5L6oHfgQDc47quD69qH1hTwnFYbuia8paiYxSE9u84KZfYqn6xLMUqxKK3wNpsgP4Kwu1gzXHD5xBxj5HrLposEYL6PwZzpAMZ
          path: M/1/19

    BinfoTxIndexConflict:
      type: object
      required:
        - error
        - message
        - txids
      properties:
        error:
          type: string
        message:
          type: string
        txids:
          type: array
          items:
            type: string
            
    BinfoMultiAddrReq:
      type: object
      properties:
        active:
          type: string
        activeP2SH:
          type: string
        activeBech32:
          type: string
        onlyShow:
          type: string
        n:
          type: integer
        offset:
          type: integer
        noCompact:
          type: boolean
        currency:
          type: string
        cashaddr:
          type: boolean
        txidindex:
          type: boolean

  parameters:

    addressParam:
      name: address
      in: path
      required: true
      schema:
        type: string
        example: 'qrr724dvaz5kdhujv52urdrwv0hy4jxpusgspun650'

    addressesParam:
      name: addresses
      in: query
      explode: false
      required: true
      schema:
        type: array
        items:
          type: string
          example: 'qrr724dvaz5kdhujv52urdrwv0hy4jxpusgspun650'

    limitParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
      description: Maximum number of entries to return.

    heightParam:
      name: height
      in: query
      required: false
      schema:
        oneOf:
          - type: integer
          - type: string
      description: |
        * If a block height is specified, only entities confirmed at or below
          that height will be returned.

        * If a block hash is specified, only entities confirmed at or below that
          block's height will be returned. No filtering will be done if the
          block cannot be found.

        * If a Unix timestamp is specified, find the last block mined at or
          before that time and return entries confirmed up to that block's
          height. No filtering will be done if the block cannot be found.

        * If a transaction hash is specified, only entries at or below that
          transaction's place in the block chain will be returned. No filtering
          will be done if the transaction cannot be found or is not confirmed.
    offsetParam:
      name: offset
      in: query
      required: false
      schema:
        type: integer
      description: Skip this many entries at the start of the result set.

    nocacheParam:
      name: nocache
      in: query
      required: false
      schema:
        type: boolean
      description: Do not use the cache for this query.

    notxParam:
      name: notx
      in: query
      required: false
      schema:
        type: boolean
      description: Do not include transactions other than coinbase.

    blockParam:
      name: block
      in: path
      required: true
      schema:
        type: string
      example: '000000000000069cc8b7d9cb759a59f754692d9cb5b4e4b7a9dba37c57ab65e8'

    blocksParam:
      name: blocks
      in: query
      explode: false
      required: true
      schema:
        type: array
        items:
          type: string
          example: '000000000000069cc8b7d9cb759a59f754692d9cb5b4e4b7a9dba37c57ab65e8'

    blockHeightParam:
      name: height
      in: path
      required: true
      schema:
        type: integer
        example: 1283393

    blockHeightsParam:
      name: heights
      in: query
      explode: false
      required: true
      schema:
        type: array
        example:
          - 1283393
        items:
          type: integer

    txidParam:
      name: txid
      in: path
      required: true
      schema:
        type: string
        example: '0d5764c89d3fbf8bea9b329ad5e0ddb6047e72313c0f7b54dcb14f4d242da64b'

    timeParam:
      name: time
      in: path
      required: true
      schema:
        type: integer
        example: 1575994134

    txidsParam:
      name: txids
      in: query
      explode: false
      required: true
      schema:
        type: array
        items:
          type: string
          example: '0d5764c89d3fbf8bea9b329ad5e0ddb6047e72313c0f7b54dcb14f4d242da64b'

    xpubParam:
      name: xpub
      in: path
      required: true
      schema:
        type: string
        example: tpubD8XsNAGEy3Pzeeq6hmbRjwrP7G6Goobw4jWvu68tKzxDSFE5VmgpKoDeSFjnmgCLPrijuQwHVodUv7oZDqPNJbzC4mxZStZisGAEwgbpccH

    xpubDerive:
      name: derive
      in: query
      required: false
      schema:
        type: string
        enum: [segwit, compat, standard]
      description: |
        * `standard`: derive regular P2PKH addresses.
        * `segwit`: derive segwit P2WPKH addresses.
        * `compat`: derive P2SH-P2WPKH backwards-compatible segwit addresses.

    prettyParam:
      name: pretty
      in: query
      required: false
      schema:
        type: boolean
      description: Pretty-print JSON output.

    binfoActive:
      name: active
      in: query
      required: false
      schema:
        type: string
        example: tpubD8XsNAGEy3Pzeeq6hmbRjwrP7G6Goobw4jWvu68tKzxDSFE5VmgpKoDeSFjnmgCLPrijuQwHVodUv7oZDqPNJbzC4mxZStZisGAEwgbpccH
      description: Address or extended public key.
  
    binfoActiveP2SH:
      name: activeP2SH
      in: query
      required: false
      schema:
        type: string
        example: tpubD8XsNAGEy3Pzeeq6hmbRjwrP7G6Goobw4jWvu68tKzxDSFE5VmgpKoDeSFjnmgCLPrijuQwHVodUv7oZDqPNJbzC4mxZStZisGAEwgbpccH
      description: Extended public key for P2WPKH-on-P2SH address derivation.
  
    binfoActiveBech32:
      name: activeBech32
      in: query
      required: false
      schema:
        type: string
        example: tpubD8XsNAGEy3Pzeeq6hmbRjwrP7G6Goobw4jWvu68tKzxDSFE5VmgpKoDeSFjnmgCLPrijuQwHVodUv7oZDqPNJbzC4mxZStZisGAEwgbpccH
      description: Extended public key for P2WPKH Bech32 address derivation.
  
    binfoOnlyShow:
      name: onlyShow
      in: query
      required: false
      schema:
        type: string
        example: tpubD8XsNAGEy3Pzeeq6hmbRjwrP7G6Goobw4jWvu68tKzxDSFE5VmgpKoDeSFjnmgCLPrijuQwHVodUv7oZDqPNJbzC4mxZStZisGAEwgbpccH
      description: >
        Extended public keys and addresses for computing balances in transactions
        and showing in the address section of the wallet.
        If omitted use all active* addresses.
  
    binfoLimit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        example: 50
      description: Only retrieve up to this many items.
  
    binfoCount:
      name: count
      in: query
      required: false
      schema:
        type: integer
        example: 100
      description: Only retrieve up to this many items.
  
    binfoOffset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        example: 0
      description: Skip this many items at the beginning.
  
    binfoConfirmations:
      name: confirmations
      in: query
      required: false
      schema:
        type: integer
        example: 6
      description: Only return items with at least this many confirmations.
  
    binfoNoCompact:
      name: noCompact
      in: query
      required: false
      schema:
        type: boolean
        example: true
      description: >
        Filter out outputs not going to this wallet on incoming transactions.
  
    binfoCurrency:
      name: currency
      in: query
      required: false
      schema:
        type: string
        example: EUR
      description: Local currency to display in info section.
  
    binfoCashAddr:
      name: cashaddr
      in: query
      required: false
      schema:
        type: boolean
        example: true
      description: Show Bitcoin Cash addresses in CashAddr format.
  
    binfoTxIdIndex:
      name: txidindex
      in: query
      required: false
      schema:
        type: boolean
        example: true
      description: Use string with hex-encoded txid in tx_index field.
  
    binfoTxId:
      name: txid
      in: path
      required: true
      schema:
        oneOf:
          - type: string
          - type: integer
        example: 1254181078042813
      description: Hex-encoded txid or integer from tx_index.
  
    binfoFormat:
      name: format
      in: query
      required: false
      schema:
        type: string
        enum:
          - json
          - hex
