openapi: 3.0.0

servers:
  - url: 'https://api.haskoin.com/bch/'
  - url: 'https://api.haskoin.com/btc/'
  - url: 'https://api.haskoin.com/bchtest/'
  - url: 'https://api.haskoin.com/btctest/'

info:
  version: &version 0.65.0
  title: Bitcoin (BCH/BTC) Query API
  contact:
    name: Haskoin
    url: https://github.com/haskoin
    email: jprupp@protonmail.ch
  license:
    name: MIT
    url: https://github.com/haskoin/haskoin-store/blob/master/store/LICENSE

tags:
  - name: Address
    description: Operations on addresses and extended public keys.
  - name: Transaction
    description: Operations related to transactions.
  - name: Block
    description: Operations related to blocks.
  - name: Network
    description: Network statistics and other miscelaneous operations.
  - name: Slow
    description: Operations not considered scalable. May be disabled.
  - name: Blockchain
    description: Blockchain.info compatibility. May be disabled.

paths:
  '/health':
    get:
      tags:
        - Network
      summary: Health Check
      operationId: healthCheck
      parameters:
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
              example:
                ok: true
                net: bch
                blocks:
                  ok: true
                  max: 2
                  blocks: 688794
                  diff: 0
                  headers: 688794
                pending-txs:
                  ok: true
                  max: 100
                  count: 0
                version: 0.52.14
                last-tx:
                  ok: true
                  max: 300
                  age: 0
                last-block:
                  ok: true
                  max: 7200
                  age: 3279
                peers:
                  ok: true
                  count: 20
                  min: 1
            application/octet-stream:
              schema:
                type: string
                format: binary
        '503':
          description: unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
              example:
                ok: false
                net: bch
                blocks:
                  ok: false
                  max: 2
                  blocks: 688794
                  diff: 4
                  headers: 688798
                pending-txs:
                  ok: true
                  max: 100
                  count: 0
                version: 0.52.14
                last-tx:
                  ok: true
                  max: 300
                  age: 0
                last-block:
                  ok: true
                  max: 7200
                  age: 3279
                peers:
                  ok: false
                  count: 20
                  min: 0
                
  '/address/{address}/transactions':
    get:
      tags:
        - Address
      summary: Transactions for Address
      operationId: getAddressTxs
      parameters:
        - $ref: '#/components/parameters/addressParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Transaction list starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TxRef'
              example:
                - txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                  block:
                    height: 688793
                    position: 3
                - txid: b810589c80335083ed715c03abf62f23968846d2f54343bac305f890f292ec8e
                  block:
                    height: 688707
                    position: 786
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
  '/address/{address}/transactions/full':
    get:
      tags:
        - Address
        - Slow
      summary: Detailed Address Transactions
      operationId: getAddressTxsFull
      parameters:
        - $ref: '#/components/parameters/addressParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Detailed transactions starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
              example:
                - txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                  size: 225
                  version: 2
                  locktime: 688792
                  fee: 4500
                  inputs:
                    - coinbase: false
                      txid: b810589c80335083ed715c03abf62f23968846d2f54343bac305f890f292ec8e
                      output: 1
                      sigscript: 47304402206a11f253c8035be2d9f5958a9ca838b3fd5a1a120441885e10e6cad0fef3911f02202056263939a88fe06e7fc94368ff44c46f71e7daa603936d755b35b8b2a21c154121027eb504988cbc043dd4c9fac51685d68718a24d7f9f1d4c07b9f8c3d04327794c
                      sequence: 4294967294
                      pkscript: 76a91437d070b3c6716a6174080722579fbdddad39bfb388ac
                      value: 2275183814
                      address: bitcoincash:qqmaqu9nceck5ct5pqrjy4ulhhw66wdlkv2s7f2l9u
                      witness: []
                  outputs:
                    - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                      pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                      value: 15197686
                      spent: false
                      spender: null
                    - address: bitcoincash:qql2wpu4fa36yf07gcc8q80sjfxfaq66xssezyukg2
                      pkscript: 76a9143ea707954f63a225fe4630701df0924c9e835a3488ac
                      value: 2259981628
                      spent: true
                      spender:
                        txid: 9e5fd342efb429df773d8208e3fde7af9b7440869e5963d761da0b317c4908ef
                        input: 0
                  block:
                    height: 688793
                    position: 3
                  deleted: false
                  time: 1621583361
                  rbf: false
                  weight: 900
                - txid: b810589c80335083ed715c03abf62f23968846d2f54343bac305f890f292ec8e
                  size: 225
                  version: 2
                  locktime: 688706
                  fee: 4500
                  inputs:
                    - coinbase: false
                      txid: 741f605735c995ab6d79814da49002f7b4eea973656e70410cbf7969ebf467fd
                      output: 0
                      sigscript: 4730440220298e397d155bcd0c3371a17f11d6dc06392c72c6d4646ac27fad72e86e7f18f50220471c7338a0f4573955e52a95c4c2717f5ae5d369ad153ae62749d0dcd9250482412103c60a0fd16eaf3c72dee4bf12a566ee3a6ae181a29b66a1f2407442f7a6d39ad2
                      sequence: 4294967294
                      pkscript: 76a9145124c4e68eed7ffc6110c2326d7d3739f55a09eb88ac
                      value: 2775188314
                      address: bitcoincash:qpgjf38x3mkhllrpzrprymtaxuul2ksfavle5hmhl4
                      witness: []
                  outputs:
                    - address: bitcoincash:qqx0ende3cx70rdsmml6ap5pcc9nqmns5qlc8yvhga
                      pkscript: 76a9140cfccdb98e0de78db0deffae8681c60b306e70a088ac
                      value: 500000000
                      spent: false
                      spender: null
                    - address: bitcoincash:qqmaqu9nceck5ct5pqrjy4ulhhw66wdlkv2s7f2l9u
                      pkscript: 76a91437d070b3c6716a6174080722579fbdddad39bfb388ac
                      value: 2275183814
                      spent: true
                      spender:
                        txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                        input: 0
                  block:
                    height: 688707
                    position: 786
                  deleted: false
                  time: 1621533785
                  rbf: false
                  weight: 900
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/address/transactions':
    get:
      tags:
        - Address
        - Slow
      summary: Multiple Address Transactions
      operationId: getMultipleAddressTxs
      parameters:
        - $ref: '#/components/parameters/addressesParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of transactions starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TxRef'
              example:
                - txid: 9e5fd342efb429df773d8208e3fde7af9b7440869e5963d761da0b317c4908ef
                  block:
                    height: 688793
                    position: 458
                - txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                  block:
                    height: 688793
                    position: 3
                - txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                  block:
                    height: 688793
                    position: 3
                - txid: b810589c80335083ed715c03abf62f23968846d2f54343bac305f890f292ec8e
                  block:
                    height: 688707
                    position: 786
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/address/transactions/full':
    get:
      tags:
        - Address
        - Slow
      summary: Multiple Address Detailed Transactions
      operationId: getMultipleAddressTxsFull
      parameters:
        - $ref: '#/components/parameters/addressesParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Detailed transactions starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
              example:
                - txid: 9e5fd342efb429df773d8208e3fde7af9b7440869e5963d761da0b317c4908ef
                  size: 225
                  version: 2
                  locktime: 688792
                  fee: 4500
                  inputs:
                    - coinbase: false
                      txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                      output: 1
                      sigscript: 4730440220362587be41ff4ca25ef097b6c4229b031c26420f53143560fc8bf24f65418dac022034b0c97cef1ff51460346daca727f926ee675e1acaf63cb092a8a39cb3b5d8f94121029832be5ec435a55cd8c09474348cf7ffdcf266ae4fc88f390bde21d9a9c60d09
                      sequence: 4294967294
                      pkscript: 76a9143ea707954f63a225fe4630701df0924c9e835a3488ac
                      value: 2259981628
                      address: bitcoincash:qql2wpu4fa36yf07gcc8q80sjfxfaq66xssezyukg2
                      witness: []
                  outputs:
                    - address: bitcoincash:qpfscnfvsaydyru7wajy42lqumvpf7drzgc7wz87sj
                      pkscript: 76a914530c4d2c8748d20f9e77644aabe0e6d814f9a31288ac
                      value: 1400000000
                      spent: false
                      spender: null
                    - address: bitcoincash:qrw8u9tctjl4ndggrl6l9ssam4qdse3agynldjdn48
                      pkscript: 76a914dc7e15785cbf59b5081ff5f2c21ddd40d8663d4188ac
                      value: 859977128
                      spent: true
                      spender:
                        txid: 03b59d0fe4bb260587656f57a2f42a34e97f6502ffb7ee93b8e58f6f8933c99a
                        input: 0
                  block:
                    height: 688793
                    position: 458
                  deleted: false
                  time: 1621583381
                  rbf: false
                  weight: 900
                - txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                  size: 225
                  version: 2
                  locktime: 688792
                  fee: 4500
                  inputs:
                    - coinbase: false
                      txid: b810589c80335083ed715c03abf62f23968846d2f54343bac305f890f292ec8e
                      output: 1
                      sigscript: 47304402206a11f253c8035be2d9f5958a9ca838b3fd5a1a120441885e10e6cad0fef3911f02202056263939a88fe06e7fc94368ff44c46f71e7daa603936d755b35b8b2a21c154121027eb504988cbc043dd4c9fac51685d68718a24d7f9f1d4c07b9f8c3d04327794c
                      sequence: 4294967294
                      pkscript: 76a91437d070b3c6716a6174080722579fbdddad39bfb388ac
                      value: 2275183814
                      address: bitcoincash:qqmaqu9nceck5ct5pqrjy4ulhhw66wdlkv2s7f2l9u
                      witness: []
                  outputs:
                    - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                      pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                      value: 15197686
                      spent: false
                      spender: null
                    - address: bitcoincash:qql2wpu4fa36yf07gcc8q80sjfxfaq66xssezyukg2
                      pkscript: 76a9143ea707954f63a225fe4630701df0924c9e835a3488ac
                      value: 2259981628
                      spent: true
                      spender:
                        txid: 9e5fd342efb429df773d8208e3fde7af9b7440869e5963d761da0b317c4908ef
                        input: 0
                  block:
                    height: 688793
                    position: 3
                  deleted: false
                  time: 1621583361
                  rbf: false
                  weight: 900
                - txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                  size: 225
                  version: 2
                  locktime: 688792
                  fee: 4500
                  inputs:
                    - coinbase: false
                      txid: b810589c80335083ed715c03abf62f23968846d2f54343bac305f890f292ec8e
                      output: 1
                      sigscript: 47304402206a11f253c8035be2d9f5958a9ca838b3fd5a1a120441885e10e6cad0fef3911f02202056263939a88fe06e7fc94368ff44c46f71e7daa603936d755b35b8b2a21c154121027eb504988cbc043dd4c9fac51685d68718a24d7f9f1d4c07b9f8c3d04327794c
                      sequence: 4294967294
                      pkscript: 76a91437d070b3c6716a6174080722579fbdddad39bfb388ac
                      value: 2275183814
                      address: bitcoincash:qqmaqu9nceck5ct5pqrjy4ulhhw66wdlkv2s7f2l9u
                      witness: []
                  outputs:
                    - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                      pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                      value: 15197686
                      spent: false
                      spender: null
                    - address: bitcoincash:qql2wpu4fa36yf07gcc8q80sjfxfaq66xssezyukg2
                      pkscript: 76a9143ea707954f63a225fe4630701df0924c9e835a3488ac
                      value: 2259981628
                      spent: true
                      spender:
                        txid: 9e5fd342efb429df773d8208e3fde7af9b7440869e5963d761da0b317c4908ef
                        input: 0
                  block:
                    height: 688793
                    position: 3
                  deleted: false
                  time: 1621583361
                  rbf: false
                  weight: 900
                - txid: b810589c80335083ed715c03abf62f23968846d2f54343bac305f890f292ec8e
                  size: 225
                  version: 2
                  locktime: 688706
                  fee: 4500
                  inputs:
                    - coinbase: false
                      txid: 741f605735c995ab6d79814da49002f7b4eea973656e70410cbf7969ebf467fd
                      output: 0
                      sigscript: 4730440220298e397d155bcd0c3371a17f11d6dc06392c72c6d4646ac27fad72e86e7f18f50220471c7338a0f4573955e52a95c4c2717f5ae5d369ad153ae62749d0dcd9250482412103c60a0fd16eaf3c72dee4bf12a566ee3a6ae181a29b66a1f2407442f7a6d39ad2
                      sequence: 4294967294
                      pkscript: 76a9145124c4e68eed7ffc6110c2326d7d3739f55a09eb88ac
                      value: 2775188314
                      address: bitcoincash:qpgjf38x3mkhllrpzrprymtaxuul2ksfavle5hmhl4
                      witness: []
                  outputs:
                    - address: bitcoincash:qqx0ende3cx70rdsmml6ap5pcc9nqmns5qlc8yvhga
                      pkscript: 76a9140cfccdb98e0de78db0deffae8681c60b306e70a088ac
                      value: 500000000
                      spent: false
                      spender: null
                    - address: bitcoincash:qqmaqu9nceck5ct5pqrjy4ulhhw66wdlkv2s7f2l9u
                      pkscript: 76a91437d070b3c6716a6174080722579fbdddad39bfb388ac
                      value: 2275183814
                      spent: true
                      spender:
                        txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                        input: 0
                  block:
                    height: 688707
                    position: 786
                  deleted: false
                  time: 1621533785
                  rbf: false
                  weight: 900
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/address/{address}/balance':
    get:
      tags:
        - Address
      operationId: getBalance
      summary: Address Balance
      parameters:
        - $ref: '#/components/parameters/addressParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Address balance and other stats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
              example:
                address: bitcoincash:qqmaqu9nceck5ct5pqrjy4ulhhw66wdlkv2s7f2l9u
                confirmed: 0
                unconfirmed: 0
                utxo: 0
                txs: 2
                received: 2275183814
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/address/balances':
    get:
      tags:
        - Address
        - Slow
      summary: Multiple Address Balances
      operationId: getMultipleAddressBalances
      parameters:
        - $ref: '#/components/parameters/addressesParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Address balances and other stats.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Balance'
              example:
                - address: bitcoincash:qqmaqu9nceck5ct5pqrjy4ulhhw66wdlkv2s7f2l9u
                  confirmed: 0
                  unconfirmed: 0
                  utxo: 0
                  txs: 2
                  received: 2275183814
                - address: bitcoincash:qql2wpu4fa36yf07gcc8q80sjfxfaq66xssezyukg2
                  confirmed: 0
                  unconfirmed: 0
                  utxo: 0
                  txs: 2
                  received: 2259981628
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid Address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/address/{address}/unspent':
    get:
      tags:
        - Address
      summary: Address Unspent Outputs
      operationId: getAddressUnspent
      parameters:
        - $ref: '#/components/parameters/addressParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of unspent outputs starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Unspent'
              example:
                - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                  block:
                    height: 688793
                    position: 3
                  txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                  index: 0
                  pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                  value: 15197686
                - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                  block:
                    height: 688664
                    position: 51
                  txid: 1c9337a7bad182b5cf303b6c3ad7aeac8cbc162dee11ace30671d12d83f80501
                  index: 1
                  pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                  value: 28288039
                - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                  block:
                    height: 688601
                    position: 3820
                  txid: c41e77bb8ab9f78a0ca26c43ba8a9e687510ccc303a9637e86bfb8affcd1dcf6
                  index: 0
                  pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                  value: 42056933
                - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                  block:
                    height: 686234
                    position: 3648
                  txid: d4cad6861428215ed6f86406eb445305b107ab041f02e7ef5879381e9cc11ec0
                  index: 0
                  pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                  value: 24597765
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/address/unspent':
    get:
      tags:
        - Address
        - Slow
      summary: Multiple Address Unspent Outputs
      operationId: getMultipleAddressUnspent
      parameters:
        - $ref: '#/components/parameters/addressesParam'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of unspent outputs starting with most recent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Unspent'
              example:
                - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                  block:
                    height: 688793
                    position: 3
                  txid: 00f304a6089a708168cd10d5ad8abd2977c36791156a55b040117cb5a3db7fad
                  index: 0
                  pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                  value: 15197686
                - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                  block:
                    height: 688664
                    position: 51
                  txid: 1c9337a7bad182b5cf303b6c3ad7aeac8cbc162dee11ace30671d12d83f80501
                  index: 1
                  pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                  value: 28288039
                - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                  block:
                    height: 688601
                    position: 3820
                  txid: c41e77bb8ab9f78a0ca26c43ba8a9e687510ccc303a9637e86bfb8affcd1dcf6
                  index: 0
                  pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                  value: 42056933
                - address: bitcoincash:qqla8n6hwp9f86tc92t6f76680mlkxnqgu5flcqwfe
                  block:
                    height: 686234
                    position: 3648
                  txid: d4cad6861428215ed6f86406eb445305b107ab041f02e7ef5879381e9cc11ec0
                  index: 0
                  pkscript: 76a9143fd3cf57704a93e9782a97a4fb5a3bf7fb1a604788ac
                  value: 24597765
                - address: bitcoincash:qp5p2rhvl6dtl0jkvrzf2w7u3fxpylu3ks7wh3vtlp
                  block:
                    height: 685236
                    position: 15161
                  txid: f80be09fecde882e3b59e39f05f93b51ed92dfe099ee24384b6f30d1d324a995
                  index: 0
                  pkscript: 76a91468150eecfe9abfbe5660c4953bdc8a4c127f91b488ac
                  value: 52128096
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/block/best':
    get:
      tags:
        - Block
      summary: Block Chain Head
      operationId: getBlockHead
      parameters:
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Best block data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockData'
              example:
                hash: 000000000000000001b64b6325acf226dd0b9c012c1d126917bf444f35408961
                height: 688797
                mainchain: true
                previous: 0000000000000000005ed0fb2297eee123e8970060ed52ce021ce415b3d21e0b
                time: 1621589645
                version: 805298176
                bits: 402828819
                nonce: 1843321275
                size: 14345
                tx:
                  - a12f364c11eeb9f5b48295ed52de6d62246d14db884fde68510489ef8afe36dd
                  - 0426d4a7d9635f805d657823395ba7f88c28391015c8ff7166f136d4cb1e7003
                  - 078169b239fb052fd11947ca2e06d72bcaf2dcd8e2ca2de3641a99972da555aa
                  - 09e1a01f75cc41d3a6ddd33cfc6c7c43cff546b6017c42098dc42c0380894d31
                  - 1706b23e11d5e65a6b5a7e5b2883be7601037865c46db872b56cce959f25584b
                  - 2638456e1b6874b978dbfa545b56e698344d5d776c7fcf9fd283f6ba7eeb0f2d
                  - 2d11fe4dc71ffb9b3245927fb8a3821a440d555a2a7cdcba1b561be7d4d5851a
                  - 2f4458e9b637b3be97db4c896ef6e396d4a4502e4c00493b8b12e4e672ff991d
                  - 30adc4c7e8fc46b2756d7edd4c3ca13ba08d24ba1cff99e4cb59864b442d1b56
                  - 30ffe61ae7d106b00a8a3a8b5195ddd5291deb0120fdc620fa42689b481923fa
                  - 3166134ffddf6fe6cb816aceb59894274ffeea320406876d8e77b1afa4c98056
                  - 3ba5dbc9ab73ef827898c624c7137f41f960efd6e06fb149f67a899731db831d
                  - 3f7a69e8104aa103e0988a0201ac2d40347ed84ab4c3ed239ddbe079d269dae8
                  - 3fb631d18bd4b86aa2d5156f01a69a89a958b9999cbad2abafe55b65d917c812
                  - 4cadeaaf483ea263b8a5a26cfcf227795ec0e468400d16067163b0a20d4b0834
                  - 51ebe726bdb690d70ad331e4fb08dddcdd7eaa1a45d8fcc0ac8cee56f54f0d72
                  - 613229215ee961c1ec452685d2031f435ca65e1d96744615e590b87ebeb2828a
                  - 6243831873230e731091c49d86d65de17cd5a9218d71a1e83213908d532c0014
                  - 6ce70f7d51b0bb80c3ca6c84bb1131807c3316c760e080fdbd296cc4f319d097
                  - 734fc62db583495c14b14ffccc12f89b2cea3e8d179e07c78ad6cd5746b018b7
                  - 777981b9cf7e9222d33129e511c4c247883052622f44e2c61b0393018ba111af
                  - 7985ef5d0ab5e7ff7791dd3d82db1673f66f1b9c0d95d27628025253497ca22e
                  - 7c071a25ffa5e6333e65dcc86460c25a5ef41d7502603beabdc0541aef18d782
                  - 7d237bf9a123281edebebd7029d77b4c7726df54f330ae1228359897b976ef11
                  - 884f75299f7dc57cb9844f88b0752b8522c128a0d4915084a0a844cec538a38f
                  - 9cb79e1b11c6bdea8ccab3f61411679bd5b19c17651fb71e0d9dbef04fa27d09
                  - b7596e008884c68a0322c56ccd94c429613e6be8c958e5c0c93ced6915d32c86
                  - be9e621846769a6a92c68882e0b5eb6352a3be3469e4d9beb3926b64039e1037
                  - c186585d8e4cae9f04a6c2cb463c79f5f78331434c5bed3c5616672a06919b91
                  - c6fc1a6d92877b9878ab08169c22ce39028c3e368d53544811f74f42cdc9e138
                  - c8421314ebfe5a312066c2e0feb00eacf49fd28ca174c89461eabdbea5a7fdd5
                  - d43a179f02356f62b8d42736c4d70da7584f3c1bbc29d8b2fbe147b9f89ebc04
                  - d6312a20c5df4368e975438556aac9db816d261d03c57c3b831f13fa40d1a303
                  - d7dc9b223ea0c2e21877611afe65df412164d5a08d2446763dda5bca72719c31
                  - df562b911ee84726e9be7c2496aa60466f34a6d748c47f368a05cbd29f45aaca
                  - e3b023c0cf9554dfb2ece828dfd94cce4438bfd28c57dfc62af843f9c09cbb4c
                  - e9ef985c16a176c1ea3890edcf8fab187703356008016b3aa252844100dafa51
                  - ed306dfe986b37aa64006e7deeb5c2342b563b4ca130de53b1e6cb6c8c57758a
                  - edf9f11512782dab3e6e4efc47f0491f30ffb87d005f78dd623bae027fb92579
                  - f36b81e3aa3340d03a50f7cf71a4c4cda91cf972198a508ecb32c9c41feb7773
                  - ff85614565dcc8710dc4f6a96b64ea593e30e0b437980d3702e4adf99aab3f87
                merkle: f379f45cb00f781a94e5ea4be0c194c4d9715c374d02ec1494800869bfd542b8
                subsidy: 625000000
                fees: 87081
                outputs: 115319020328
                work: 440514608165117083892886234
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/best/raw':
    get:
      tags:
        - Block
        - Slow
      summary: Raw Block Chain Head
      operationId: getRawBlockHead
      responses:
        '200':
          description: >-
            Bitcoin protocol block.
            Hex string when using JSON.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: string
                    example: 010000006f187fddd5e28aa1b4065daa5d9eae0c487094fb20cf97ca02b81c84000000005b7b25b51797f83192f9fd2c3871bfb27570a7d6b56d3a50760613d1a2fc1aeeab346849ffff001d36d950710101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff0704ffff001d0120ffffffff0100f2052a0100000043410408ab2f56361f83064e4ce51acc291fb57c2cbcdb1d6562f6278c43a1406b548fd6cefc11bcc29eb620d5861cb9ed69dc39f2422f54b06a8af4f78c8276cfdc6bac00000000
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/latest':
    get:
      tags:
        - Block
        - Slow
      summary: Most Recent Blocks
      operationId: getLatestBlocks
      parameters:
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of most recent blocks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockData'
              example:
                - hash: 000000000000000001b64b6325acf226dd0b9c012c1d126917bf444f35408961
                  height: 688797
                  mainchain: true
                  previous: 0000000000000000005ed0fb2297eee123e8970060ed52ce021ce415b3d21e0b
                  time: 1621589645
                  version: 805298176
                  bits: 402828819
                  nonce: 1843321275
                  size: 14345
                  tx:
                    - a12f364c11eeb9f5b48295ed52de6d62246d14db884fde68510489ef8afe36dd
                  merkle: f379f45cb00f781a94e5ea4be0c194c4d9715c374d02ec1494800869bfd542b8
                  subsidy: 625000000
                  fees: 87081
                  outputs: 115319020328
                  work: 440514608165117083892886234
                - hash: 0000000000000000005ed0fb2297eee123e8970060ed52ce021ce415b3d21e0b
                  height: 688796
                  mainchain: true
                  previous: 000000000000000000f3e8c40d8fcb08fe68309d05c654d4a9626e71771c87bc
                  time: 1621589661
                  version: 536870912
                  bits: 402828953
                  nonce: 4121941127
                  size: 466349
                  tx:
                    - 1be65880d02647bc4b8b5525b6dd33848ac4f36cc2c682a35676d0c5e10858c2
                  merkle: a42b2321e225dd3812f1f1e502ea320eff30d9061f4089613250d5e6d9f3f1ca
                  subsidy: 625000000
                  fees: 2623401
                  outputs: 5682996095523
                  work: 440512846073222977677902178
                - hash: 000000000000000000f3e8c40d8fcb08fe68309d05c654d4a9626e71771c87bc
                  height: 688795
                  mainchain: true
                  previous: 000000000000000000e2bd91f8f073c8a755335a1e16bd99d21d9a52497f80ca
                  time: 1621589252
                  version: 541065216
                  bits: 402826569
                  nonce: 4143833738
                  size: 3789642
                  tx:
                    - 09aecab0edb71bbd37d2482948ddc6bc3475b6723ed485620ef926571ab6af04
                  merkle: df42f51b831eda9ddcf84de248fa7fed56cec66a9f15545c9a0802f5e2ab1dd4
                  subsidy: 625000000
                  fees: 9075725
                  outputs: 58906363954005
                  work: 440511085324684718115244800
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/block/{block}':
    get:
      tags:
        - Block
      operationId: getBlock
      summary: Block Information
      parameters:
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/blockParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Block data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockData'
              example:
                hash: 000000000003ba27aa200b1cecaad478d2b00432346c3f1f3986da1afd33e506
                height: 100000
                mainchain: true
                previous: 000000000002d01c1fccc21636b607dfd930d31d01c3a62104612a1719011250
                time: 1293623863
                version: 1
                bits: 453281356
                nonce: 274148111
                size: 957
                tx:
                  - 8c14f0db3df150123e6f3dbbf30f8b955a8249b62ac1d1ff16284aefa3d06d87
                  - fff2525b8931402dd09222c50775608f75787bd2b87e56995a7bdd30f79702c4
                  - 6359f0868171b1d194cbee1af2f16ea598ae8fad666d9b012c8ed2b79a236ec4
                  - e9a66845e05d5abc0ad04ec80f774a7e585c6e8db975962d069a522137b80c1d
                merkle: f3e94742aca4b5ef85488dc37c06c3282295ffec960994b2c0d5ac2a25a95766
                subsidy: 5000000000
                fees: 0
                outputs: 5301000000
                work: 451709610344319134
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
  '/block/{block}/raw':
    get:
      tags:
        - Block
        - Slow
      operationId: getRawBlock
      summary: Raw Block
      parameters:
        - $ref: '#/components/parameters/blockParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol block.
            Hex string when using JSON.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: string
                    example: 0100000050120119172a610421a6c3011dd330d9df07b63616c2cc1f1cd00200000000006657a9252aacd5c0b2940996ecff952228c3067cc38d4885efb5a4ac4247e9f337221b4d4c86041b0f2b57100401000000010000000000000000000000000000000000000000000000000000000000000000ffffffff08044c86041b020602ffffffff0100f2052a010000004341041b0e8c2567c12536aa13357b79a073dc4444acb83c4ec7a0e2f99dd7457516c5817242da796924ca4e99947d087fedf9ce467cb9f7c6287078f801df276fdf84ac000000000100000001032e38e9c0a84c6046d687d10556dcacc41d275ec55fc00779ac88fdf357a187000000008c493046022100c352d3dd993a981beba4a63ad15c209275ca9470abfcd57da93b58e4eb5dce82022100840792bc1f456062819f15d33ee7055cf7b5ee1af1ebcc6028d9cdb1c3af7748014104f46db5e9d61a9dc27b8d64ad23e7383a4e6ca164593c2527c038c0857eb67ee8e825dca65046b82c9331586c82e0fd1f633f25f87c161bc6f8a630121df2b3d3ffffffff0200e32321000000001976a914c398efa9c392ba6013c5e04ee729755ef7f58b3288ac000fe208010000001976a914948c765a6914d43f2a7ac177da2c2f6b52de3d7c88ac000000000100000001c33ebff2a709f13d9f9a7569ab16a32786af7d7e2de09265e41c61d078294ecf010000008a4730440220032d30df5ee6f57fa46cddb5eb8d0d9fe8de6b342d27942ae90a3231e0ba333e02203deee8060fdc70230a7f5b4ad7d7bc3e628cbe219a886b84269eaeb81e26b4fe014104ae31c31bf91278d99b8377a35bbce5b27d9fff15456839e919453fc7b3f721f0ba403ff96c9deeb680e5fd341c0fc3a7b90da4631ee39560639db462e9cb850fffffffff0240420f00000000001976a914b0dcbf97eabf4404e31d952477ce822dadbe7e1088acc060d211000000001976a9146b1281eec25ab4e1e0793ff4e08ab1abb3409cd988ac0000000001000000010b6072b386d4a773235237f64c1126ac3b240c84b917a3909ba1c43ded5f51f4000000008c493046022100bb1ad26df930a51cce110cf44f7a48c3c561fd977500b1ae5d6b6fd13d0b3f4a022100c5b42951acedff14abba2736fd574bdb465f3e6f8da12e2c5303954aca7f78f3014104a7135bfe824c97ecc01ec7d7e336185c81e2aa2c41ab175407c09484ce9694b44953fcb751206564a9c24dd094d42fdbfdd5aad3e063ce6af4cfaaea4ea14fbbffffffff0140420f00000000001976a91439aa3d569e06a1d7926dc4be1193c99bf2eb9ee088ac00000000
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/blocks':
    get:
      tags:
        - Block
        - Slow
      operationId: getBlocks
      summary: Information for Multiple Blocks
      parameters:
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/blocksParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of block data objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockData'
              example:
                - hash: 000000000845517b31c6820d83f25cff46429bf136a7515fe504116427e60f8e
                  height: 49999
                  mainchain: true
                  previous: 000000001a793b5b7732ee306b1e4196132e0193fac6457801f1e16e6ec89e6a
                  time: 1270916354
                  version: 1
                  bits: 472518933
                  nonce: 64497466
                  size: 216
                  tx:
                    - 2c95132eb2fd2e7d2f5bd282595d3d47950836031727850579dca836254b1bd4
                  merkle: 2c95132eb2fd2e7d2f5bd282595d3d47950836031727850579dca836254b1bd4
                  subsidy: 5000000000
                  fees: 0
                  outputs: 0
                  work: 363097871874800
                - hash: 000000001aeae195809d120b5d66a39c83eb48792e068f8ea1fea19d84a4278a
                  height: 50000
                  mainchain: true
                  previous: 000000000845517b31c6820d83f25cff46429bf136a7515fe504116427e60f8e
                  time: 1270916538
                  version: 1
                  bits: 472518933
                  nonce: 58489010
                  size: 216
                  tx:
                    - 27f1d66f8a1ee5280f4e92508dcb647e954d53004905d08a75574daee4988360
                  merkle: 27f1d66f8a1ee5280f4e92508dcb647e954d53004905d08a75574daee4988360
                  subsidy: 5000000000
                  fees: 0
                  outputs: 0
                  work: 363124009197915
            application/octet-stream:
              schema:
                type: string
                format: binary

  '/block/height/{height}':
    get:
      tags:
        - Block
      operationId: getBlocksAtHeight
      summary: Blocks at Height
      parameters:
        - $ref: '#/components/parameters/blockHeightParam'
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Block data objects including orphans.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockData'
              example:
                - hash: 000000008f1a7008320c16b8402b7f11e82951f44ca2663caf6860ab2eeef320
                  height: 200
                  mainchain: true
                  previous: 00000000b7691ccc084542565697eca256e56bb7f67e560b48789db27f0468eb
                  time: 1231753120
                  version: 1
                  bits: 486604799
                  nonce: 1832536838
                  size: 215
                  tx:
                    - 2b1f06c2401d3b49a33c3f5ad5864c0bc70044c4068f9174546f3cfc1887d5ba
                  merkle: 2b1f06c2401d3b49a33c3f5ad5864c0bc70044c4068f9174546f3cfc1887d5ba
                  subsidy: 5000000000
                  fees: 0
                  outputs: 0
                  work: 863301599433
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/block/height/{height}/raw':
    get:
      tags:
        - Block
        - Slow
      operationId: getRawBlocksAtHeight
      summary: Raw Blocks at Height
      parameters:
        - $ref: '#/components/parameters/blockHeightParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol blocks.
            Hex strings when using JSON.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: 01000000eb68047fb29d78480b567ef6b76be556a2ec975656424508cc1c69b700000000bad58718fc3c6f5474918f06c44400c70b4c86d55a3f3ca3493b1d40c2061f2ba00f6b49ffff001d064b3a6d0101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff0704ffff001d0138ffffffff0100f2052a010000004341045e071dedd1ed03721c6e9bba28fc276795421a378637fb41090192bb9f208630dcbac5862a3baeb9df3ca6e4e256b7fd2404824c20198ca1b004ee2197866433ac00000000
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/block/time/{time}':
    get:
      tags:
        - Block
      operationId: getBlockAtTime
      summary: Block Mined at Time
      parameters:
        - $ref: '#/components/parameters/timeParam'
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Last block mined at or before specified time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockData'
              example:
                hash: 000000008f1a7008320c16b8402b7f11e82951f44ca2663caf6860ab2eeef320
                height: 200
                mainchain: true
                previous: 00000000b7691ccc084542565697eca256e56bb7f67e560b48789db27f0468eb
                time: 1231753120
                version: 1
                bits: 486604799
                nonce: 1832536838
                size: 215
                tx:
                  - 2b1f06c2401d3b49a33c3f5ad5864c0bc70044c4068f9174546f3cfc1887d5ba
                merkle: 2b1f06c2401d3b49a33c3f5ad5864c0bc70044c4068f9174546f3cfc1887d5ba
                subsidy: 5000000000
                fees: 0
                outputs: 0
                work: 863301599433
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/block/time/{time}/raw':
    get:
      tags:
        - Block
        - Slow
      operationId: getRawBlockAtTime
      summary: Raw Block Mined at Time
      parameters:
        - $ref: '#/components/parameters/timeParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol block mined at or before specified time.
            Hex string when using JSON.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: string
                    example: 0100000000000000000000000000000000000000000000000000000000000000000000003ba3edfd7a7b12b27ac72c3e67768f617fc81bc3888a51323a9fb8aa4b1e5e4a29ab5f49ffff001d1dac2b7c0101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff4d04ffff001d0104455468652054696d65732030332f4a616e2f32303039204368616e63656c6c6f72206f6e206272696e6b206f66207365636f6e64206261696c6f757420666f722062616e6b73ffffffff0100f2052a01000000434104678afdb0fe5548271967f1a67130b7105cd6a828e03909a67962e0ea1f61deb649f6bc3f4cef38c4f35504e51ec112de5c384df7ba0b8d578a4c702b6bf11d5fac00000000
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/block/mtp/{time}':
    get:
      tags:
        - Block
      operationId: getBlockMTP
      summary: Block Mined at Time
      parameters:
        - $ref: '#/components/parameters/timeParam'
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Block at Median Time Past
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockData'
              example:
                hash: 000000007986095d6dce2f41fd76e8008e828282400e46d3b49f39d19e2b7a78
                height: 206
                mainchain: true
                previous: 00000000d7e3261b16abe2fc1811150812ee0d6f6fc3727cadd8821df2d96c45
                time: 1231757577
                version: 1
                bits: 486604799
                nonce: 125825145
                size: 215
                tx:
                  - 32cbb7e4d08f02fdd78368a7a03ff54c13191d1023aa1e3f157027241d9840ae
                merkle: 32cbb7e4d08f02fdd78368a7a03ff54c13191d1023aa1e3f157027241d9840ae
                subsidy: 5000000000
                fees: 0
                outputs: 0
                work: 889071796431
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/block/mtp/{time}/raw':
    get:
      tags:
        - Block
        - Slow
      operationId: getRawBlockMTP
      summary: Raw Block at Median Time Past
      parameters:
        - $ref: '#/components/parameters/timeParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol block mined after specified median time past.
            Hex string when using JSON.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: string
                    example: 01000000456cd9f21d82d8ad7c72c36f6f0dee1208151118fce2ab161b26e3d700000000ae40981d242770153f1eaa23101d19134cf53fa0a76883d7fd028fd0e4b7cb3209216b49ffff001d79f07f070101000000010000000000000000000000000000000000000000000000000000000000000000ffffffff0704ffff001d010effffffff0100f2052a01000000434104bc184a82d824a8ff59576e8b6843767407e4f35edb5ad725460764a30ddf91479fd0eb1b0c2b4371a06b3fdae3453262fcf3358afafe3dbebccf2fdefcd0853cac00000000
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/block/heights':
    get:
      tags:
        - Block
        - Slow
      operationId: getBlocksAtHeights
      summary: Blocks at Multiple Heights
      parameters:
        - $ref: '#/components/parameters/blockHeightsParam'
        - $ref: '#/components/parameters/notxParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of block data objects at specified heights.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockData'
              example:
                - hash: 000000007bc154e0fa7ea32218a72fe2c1bb9f86cf8c9ebf9a715ed27fdb229a
                  height: 100
                  mainchain: true
                  previous: 00000000cd9b12643e6854cb25939b39cd7a1ad0af31a9bd8b2efe67854b1995
                  time: 1231660825
                  version: 1
                  bits: 486604799
                  nonce: 1573057331
                  size: 215
                  tx:
                    - 2d05f0c9c3e1c226e63b5fac240137687544cf631cd616fd34fd188fc9020866
                  merkle: 2d05f0c9c3e1c226e63b5fac240137687544cf631cd616fd34fd188fc9020866
                  subsidy: 5000000000
                  fees: 0
                  outputs: 0
                  work: 433798316133
                - hash: 000000008f1a7008320c16b8402b7f11e82951f44ca2663caf6860ab2eeef320
                  height: 200
                  mainchain: true
                  previous: 00000000b7691ccc084542565697eca256e56bb7f67e560b48789db27f0468eb
                  time: 1231753120
                  version: 1
                  bits: 486604799
                  nonce: 1832536838
                  size: 215
                  tx:
                    - 2b1f06c2401d3b49a33c3f5ad5864c0bc70044c4068f9174546f3cfc1887d5ba
                  merkle: 2b1f06c2401d3b49a33c3f5ad5864c0bc70044c4068f9174546f3cfc1887d5ba
                  subsidy: 5000000000
                  fees: 0
                  outputs: 0
                  work: 863301599433
                - hash: 0000000062b69e4a2c3312a5782d7798b0711e9ebac065cd5d19f946439f8609
                  height: 300
                  mainchain: true
                  previous: 00000000b9b003c04b2fe21b4f7a2fa809eb643852573c3a1748653e2019f01c
                  time: 1231832435
                  version: 1
                  bits: 486604799
                  nonce: 951842076
                  size: 215
                  tx:
                    - bc15f9dcbe637c187bb94247057b14637316613630126fc396c22e08b89006ea
                  merkle: bc15f9dcbe637c187bb94247057b14637316613630126fc396c22e08b89006ea
                  subsidy: 5000000000
                  fees: 0
                  outputs: 0
                  work: 1292804882733
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/transaction/{txid}':
    get:
      tags:
        - Transaction
      operationId: getTransaction
      summary: Detailed Transaction
      parameters:
        - $ref: '#/components/parameters/txidParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Detailed transaction object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
              example:
                txid: 03c16602a41ae7cbc2a25b0d2801fdc3295e2e8ebfb26774030b2f7d538f5568
                size: 219
                version: 2
                locktime: 0
                fee: 220
                inputs:
                  - coinbase: false
                    txid: 02ea64dfff60b1f215282bbb4b2d729fecc50d81d2d0ef09a60d550a5a69418f
                    output: 1
                    sigscript: 41e3dc2001cffff05e62751c071ac05dee8511b9af626fe5b07bf271ce48df66cf4013d4b4b280bb74eac6206d772aa24f1e766bc813dc68a461736392ce97f8a04121028d75bdff57fcecff68f2927092b15074a4524a8d8182b6de761f6af3b8c6ba8f
                    sequence: 0
                    pkscript: 76a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac
                    value: 8985694
                    address: bitcoincash:qrw3am5qe6a6g5wuymmyywyphzpkl6r2svhy9jy2kz
                    witness: []
                outputs:
                  - address: bitcoincash:qrnltz5afhaxlh6grupll8nfdswpatwnvcsyucwcle
                    pkscript: 76a914e7f58a9d4dfa6fdf481f03ff9e696c1c1eadd36688ac
                    value: 1230
                    spent: false
                    spender: null
                  - address: bitcoincash:qrw3am5qe6a6g5wuymmyywyphzpkl6r2svhy9jy2kz
                    pkscript: 76a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac
                    value: 8984244
                    spent: true
                    spender:
                      txid: 4670c8b46211c06aa1a1c42e8c7e090e971c2549d30aac65cdb12876782c2248
                      input: 0
                block:
                  height: 688804
                  position: 13
                deleted: false
                time: 1621593351
                rbf: false
                weight: 876
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Transaction not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/transaction/{txid}/raw':
    get:
      tags:
        - Transaction
      operationId: getRawTransaction
      summary: Raw Transaction
      parameters:
        - $ref: '#/components/parameters/txidParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol transaction.
            Hex string if using JSON.
          content:
            application/json:
              schema:
                type: string
                example: 02000000018f41695a0a550da609efd0d2810dc5ec9f722d4bbb2b2815f2b160ffdf64ea02010000006441e3dc2001cffff05e62751c071ac05dee8511b9af626fe5b07bf271ce48df66cf4013d4b4b280bb74eac6206d772aa24f1e766bc813dc68a461736392ce97f8a04121028d75bdff57fcecff68f2927092b15074a4524a8d8182b6de761f6af3b8c6ba8f0000000002ce040000000000001976a914e7f58a9d4dfa6fdf481f03ff9e696c1c1eadd36688acb4168900000000001976a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac00000000
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Transaction not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/transaction/{txid}/after/{height}':
    get:
      tags:
        - Transaction
        - Slow
      operationId: cbAfterHeight
      summary: Hard Fork Safety Check
      parameters:
        - $ref: '#/components/parameters/txidParam'
        - $ref: '#/components/parameters/blockHeightParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: >-
            Specify height of last common block to find out if this transaction
            is invalid on alternate chain.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: boolean
                    nullable: true
                    example: true
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid argument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
  '/transactions':
    get:
      tags:
        - Transaction
        - Slow
      operationId: getTransactions
      summary: Multiple Detailed Transactions
      parameters:
        - $ref: '#/components/parameters/txidsParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of detailed transaction objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
              example:
                - txid: 02ea64dfff60b1f215282bbb4b2d729fecc50d81d2d0ef09a60d550a5a69418f
                  size: 217
                  version: 2
                  locktime: 0
                  fee: 218
                  inputs:
                    - coinbase: false
                      txid: a7319f9118f2dc743a17476e668b83f61e9ee5252cb0417baf0bea41ddd95ba6
                      output: 1
                      sigscript: 41f1489e83baad016eb63e3ebfe6bda264652fa188877e2efed9261566265cb31cff5091878f6a965b7184d538d8fe285b1ba4e3f18f53f44a30de3a36635750c34121028d75bdff57fcecff68f2927092b15074a4524a8d8182b6de761f6af3b8c6ba8f
                      sequence: 0
                      pkscript: 76a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac
                      value: 8987143
                      address: bitcoincash:qrw3am5qe6a6g5wuymmyywyphzpkl6r2svhy9jy2kz
                      witness: []
                  outputs:
                    - address: bitcoincash:prgmpvfetym4fm724dddyrgnm5a7stjmlcp8v7z3tn
                      pkscript: a914d1b0b139593754efcaab5ad20d13dd3be82e5bfe87
                      value: 1231
                      spent: false
                      spender: null
                    - address: bitcoincash:qrw3am5qe6a6g5wuymmyywyphzpkl6r2svhy9jy2kz
                      pkscript: 76a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac
                      value: 8985694
                      spent: true
                      spender:
                        txid: 03c16602a41ae7cbc2a25b0d2801fdc3295e2e8ebfb26774030b2f7d538f5568
                        input: 0
                  block:
                    height: 688803
                    position: 17
                  deleted: false
                  time: 1621593002
                  rbf: false
                  weight: 868
                - txid: 03c16602a41ae7cbc2a25b0d2801fdc3295e2e8ebfb26774030b2f7d538f5568
                  size: 219
                  version: 2
                  locktime: 0
                  fee: 220
                  inputs:
                    - coinbase: false
                      txid: 02ea64dfff60b1f215282bbb4b2d729fecc50d81d2d0ef09a60d550a5a69418f
                      output: 1
                      sigscript: 41e3dc2001cffff05e62751c071ac05dee8511b9af626fe5b07bf271ce48df66cf4013d4b4b280bb74eac6206d772aa24f1e766bc813dc68a461736392ce97f8a04121028d75bdff57fcecff68f2927092b15074a4524a8d8182b6de761f6af3b8c6ba8f
                      sequence: 0
                      pkscript: 76a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac
                      value: 8985694
                      address: bitcoincash:qrw3am5qe6a6g5wuymmyywyphzpkl6r2svhy9jy2kz
                      witness: []
                  outputs:
                    - address: bitcoincash:qrnltz5afhaxlh6grupll8nfdswpatwnvcsyucwcle
                      pkscript: 76a914e7f58a9d4dfa6fdf481f03ff9e696c1c1eadd36688ac
                      value: 1230
                      spent: false
                      spender: null
                    - address: bitcoincash:qrw3am5qe6a6g5wuymmyywyphzpkl6r2svhy9jy2kz
                      pkscript: 76a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac
                      value: 8984244
                      spent: true
                      spender:
                        txid: 4670c8b46211c06aa1a1c42e8c7e090e971c2549d30aac65cdb12876782c2248
                        input: 0
                  block:
                    height: 688804
                    position: 13
                  deleted: false
                  time: 1621593351
                  rbf: false
                  weight: 876
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid argument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - Transaction
      operationId: postTransaction
      requestBody:
        description: Publish Transaction
        content:
          text/plain:
            schema:
              type: string
              description: Hex-encoded Bitcoin protocol transaction.
              example: 0200000001bd7d375bfc0a4ac4246ccefba4df1c635e5627b607bdc4af22282ecd5869d8f9010000006441f92d192c9e33b8184c58b88eb11f57a1eb5b5a2b0e72b326864021d9e946cd2a5275efcf385fbc0d9e7c8a76f9189d624efc00ff74657a52e47efc6ffa0bfe3b412102a20b2f9bd8b475252ad054fdedb49045bd40c8926b65f64e312dd821b243a37c000000000211180000000000001976a9143404e444809abd438d85eb18e8d07c796e364afe88ac399b7c00000000001976a91486a7f1a2047ed6719fa1ad5484f15c37c104887c88ac00000000
          application/octet-stream:
            schema:
              type: string
              format: binary
              description: Bitcoin protocol transaction.
      responses:
        '200':
          description: Transaction accepted by network peer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxId'
              example:
                txid: 0b7cb07d848959fbd02ad6e2ed21fac888b8e8011c6b8c5362d05c703066ae67
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Transaction rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: |
            Publishing transaction failed for one of these reasons:

            * No network peers available.
            * Timeout while publishing, most likely silent rejection.
            * Network peer disconnected while publishing transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/transactions/block/{block}':
    get:
      tags:
        - Transaction
        - Block
        - Slow
      operationId: getBlockTransactions
      summary: Transactions for Block
      parameters:
        - $ref: '#/components/parameters/blockParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Detailed transactions from specified Block.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
              example:
                - txid: 8c14f0db3df150123e6f3dbbf30f8b955a8249b62ac1d1ff16284aefa3d06d87
                  size: 135
                  version: 1
                  locktime: 0
                  fee: 0
                  inputs:
                    - coinbase: true
                      txid: "0000000000000000000000000000000000000000000000000000000000000000"
                      output: 4294967295
                      sigscript: 044c86041b020602
                      sequence: 4294967295
                      pkscript: null
                      value: null
                      address: null
                      witness: []
                  outputs:
                    - address: bitcoincash:qz6jvu30sxevc627jnpdqv8h4mf5ryjpgy8vfq8cwz
                      pkscript: 41041b0e8c2567c12536aa13357b79a073dc4444acb83c4ec7a0e2f99dd7457516c5817242da796924ca4e99947d087fedf9ce467cb9f7c6287078f801df276fdf84ac
                      value: 5000000000
                      spent: true
                      spender:
                        txid: f3e6066078e815bb24db0dfbff814f738943bddaaa76f8beba360cfe2882480a
                        input: 12
                  block:
                    height: 100000
                    position: 0
                  deleted: false
                  time: 1293623863
                  rbf: false
                  weight: 540
                - txid: fff2525b8931402dd09222c50775608f75787bd2b87e56995a7bdd30f79702c4
                  size: 259
                  version: 1
                  locktime: 0
                  fee: 0
                  inputs:
                    - coinbase: false
                      txid: 87a157f3fd88ac7907c05fc55e271dc4acdc5605d187d646604ca8c0e9382e03
                      output: 0
                      sigscript: 493046022100c352d3dd993a981beba4a63ad15c209275ca9470abfcd57da93b58e4eb5dce82022100840792bc1f456062819f15d33ee7055cf7b5ee1af1ebcc6028d9cdb1c3af7748014104f46db5e9d61a9dc27b8d64ad23e7383a4e6ca164593c2527c038c0857eb67ee8e825dca65046b82c9331586c82e0fd1f633f25f87c161bc6f8a630121df2b3d3
                      sequence: 4294967295
                      pkscript: 76a91471d7dd96d9edda09180fe9d57a477b5acc9cad1188ac
                      value: 5000000000
                      address: bitcoincash:qpca0hvkm8ka5zgcpl5a27j80ddve89dzy4ya2rc9q
                      witness: []
                  outputs:
                    - address: bitcoincash:qrpe3mafcwft5cqnchsyaeefw4000avtxgzc3zhzg2
                      pkscript: 76a914c398efa9c392ba6013c5e04ee729755ef7f58b3288ac
                      value: 556000000
                      spent: true
                      spender:
                        txid: 5aa8e36f9423ee5fcf17c1d0d45d6988b8a5773eae8ad25d945bf34352040009
                        input: 6
                    - address: bitcoincash:qz2gcaj6dy2dg0e20tqh0k3v9a449h3a0smpvqhnkh
                      pkscript: 76a914948c765a6914d43f2a7ac177da2c2f6b52de3d7c88ac
                      value: 4444000000
                      spent: true
                      spender:
                        txid: 220ebc64e21abece964927322cba69180ed853bb187fbc6923bac7d010b9d87a
                        input: 0
                  block:
                    height: 100000
                    position: 1
                  deleted: false
                  time: 1293623863
                  rbf: false
                  weight: 1036
                - txid: 6359f0868171b1d194cbee1af2f16ea598ae8fad666d9b012c8ed2b79a236ec4
                  size: 257
                  version: 1
                  locktime: 0
                  fee: 0
                  inputs:
                    - coinbase: false
                      txid: cf4e2978d0611ce46592e02d7e7daf8627a316ab69759a9f3df109a7f2bf3ec3
                      output: 1
                      sigscript: 4730440220032d30df5ee6f57fa46cddb5eb8d0d9fe8de6b342d27942ae90a3231e0ba333e02203deee8060fdc70230a7f5b4ad7d7bc3e628cbe219a886b84269eaeb81e26b4fe014104ae31c31bf91278d99b8377a35bbce5b27d9fff15456839e919453fc7b3f721f0ba403ff96c9deeb680e5fd341c0fc3a7b90da4631ee39560639db462e9cb850f
                      sequence: 4294967295
                      pkscript: 76a91435fbee6a3bf8d99f17724ec54787567393a8a6b188ac
                      value: 300000000
                      address: bitcoincash:qq6lhmn280udn8chwf8v23u82eee829xkyfzh8lz80
                      witness: []
                  outputs:
                    - address: bitcoincash:qzcde0uha2l5gp8rrk2jga7wsgk6m0n7zq6q4n0ad0
                      pkscript: 76a914b0dcbf97eabf4404e31d952477ce822dadbe7e1088ac
                      value: 1000000
                      spent: true
                      spender:
                        txid: ae1933ba2b7dc9702c96b99fb00f1df1392d9dea998a24b88d61974e8da8d2ab
                        input: 0
                    - address: bitcoincash:qp439q0wcfdtfc0q0yllfcy2kx4mxsyumyaya6lvur
                      pkscript: 76a9146b1281eec25ab4e1e0793ff4e08ab1abb3409cd988ac
                      value: 299000000
                      spent: true
                      spender:
                        txid: 20ed3fc9688a13fceeae5fdd606266c351b1f15b90404d9df387644e4c3d5b90
                        input: 3
                  block:
                    height: 100000
                    position: 2
                  deleted: false
                  time: 1293623863
                  rbf: false
                  weight: 1028
                - txid: e9a66845e05d5abc0ad04ec80f774a7e585c6e8db975962d069a522137b80c1d
                  size: 225
                  version: 1
                  locktime: 0
                  fee: 0
                  inputs:
                    - coinbase: false
                      txid: f4515fed3dc4a19b90a317b9840c243bac26114cf637522373a7d486b372600b
                      output: 0
                      sigscript: 493046022100bb1ad26df930a51cce110cf44f7a48c3c561fd977500b1ae5d6b6fd13d0b3f4a022100c5b42951acedff14abba2736fd574bdb465f3e6f8da12e2c5303954aca7f78f3014104a7135bfe824c97ecc01ec7d7e336185c81e2aa2c41ab175407c09484ce9694b44953fcb751206564a9c24dd094d42fdbfdd5aad3e063ce6af4cfaaea4ea14fbb
                      sequence: 4294967295
                      pkscript: 76a914c4eb47ecfdcf609a1848ee79acc2fa49d3caad7088ac
                      value: 1000000
                      address: bitcoincash:qrzwk3lvlh8kpxscfrh8ntxzlfya8j4dwqtfzxkdk7
                      witness: []
                  outputs:
                    - address: bitcoincash:qqu6502kncr2r4ujdhztuyvnexdl96u7uqczwuuqu6
                      pkscript: 76a91439aa3d569e06a1d7926dc4be1193c99bf2eb9ee088ac
                      value: 1000000
                      spent: true
                      spender:
                        txid: 1ebf2dd645b815a59e35485dd4ceebc0587a1b7588b810e42085b479ce507bfa
                        input: 1
                  block:
                    height: 100000
                    position: 3
                  deleted: false
                  time: 1293623863
                  rbf: false
                  weight: 900
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/transactions/block/{block}/raw':
    get:
      tags:
        - Transaction
        - Block
        - Slow
      operationId: getRawBlockTransactions
      summary: Raw Block Transactions
      parameters:
        - $ref: '#/components/parameters/blockParam'
      responses:
        '200':
          description: >-
            Bitcoin protocol transactions.
            Hex strings if using JSON.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - 01000000010000000000000000000000000000000000000000000000000000000000000000ffffffff08044c86041b020602ffffffff0100f2052a010000004341041b0e8c2567c12536aa13357b79a073dc4444acb83c4ec7a0e2f99dd7457516c5817242da796924ca4e99947d087fedf9ce467cb9f7c6287078f801df276fdf84ac00000000
                - 0100000001032e38e9c0a84c6046d687d10556dcacc41d275ec55fc00779ac88fdf357a187000000008c493046022100c352d3dd993a981beba4a63ad15c209275ca9470abfcd57da93b58e4eb5dce82022100840792bc1f456062819f15d33ee7055cf7b5ee1af1ebcc6028d9cdb1c3af7748014104f46db5e9d61a9dc27b8d64ad23e7383a4e6ca164593c2527c038c0857eb67ee8e825dca65046b82c9331586c82e0fd1f633f25f87c161bc6f8a630121df2b3d3ffffffff0200e32321000000001976a914c398efa9c392ba6013c5e04ee729755ef7f58b3288ac000fe208010000001976a914948c765a6914d43f2a7ac177da2c2f6b52de3d7c88ac00000000
                - 0100000001c33ebff2a709f13d9f9a7569ab16a32786af7d7e2de09265e41c61d078294ecf010000008a4730440220032d30df5ee6f57fa46cddb5eb8d0d9fe8de6b342d27942ae90a3231e0ba333e02203deee8060fdc70230a7f5b4ad7d7bc3e628cbe219a886b84269eaeb81e26b4fe014104ae31c31bf91278d99b8377a35bbce5b27d9fff15456839e919453fc7b3f721f0ba403ff96c9deeb680e5fd341c0fc3a7b90da4631ee39560639db462e9cb850fffffffff0240420f00000000001976a914b0dcbf97eabf4404e31d952477ce822dadbe7e1088acc060d211000000001976a9146b1281eec25ab4e1e0793ff4e08ab1abb3409cd988ac00000000
                - 01000000010b6072b386d4a773235237f64c1126ac3b240c84b917a3909ba1c43ded5f51f4000000008c493046022100bb1ad26df930a51cce110cf44f7a48c3c561fd977500b1ae5d6b6fd13d0b3f4a022100c5b42951acedff14abba2736fd574bdb465f3e6f8da12e2c5303954aca7f78f3014104a7135bfe824c97ecc01ec7d7e336185c81e2aa2c41ab175407c09484ce9694b44953fcb751206564a9c24dd094d42fdbfdd5aad3e063ce6af4cfaaea4ea14fbbffffffff0140420f00000000001976a91439aa3d569e06a1d7926dc4be1193c99bf2eb9ee088ac00000000
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Block not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/transactions/raw':
    get:
      tags:
        - Transaction
      operationId: getRawTransactions
      summary: Raw Transactions
      parameters:
        - $ref: '#/components/parameters/txidsParam'
      responses:
        '200':
          description: >
            Bitcoin protocol transactions.
            Hex strings if using JSON.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - 02000000018f41695a0a550da609efd0d2810dc5ec9f722d4bbb2b2815f2b160ffdf64ea02010000006441e3dc2001cffff05e62751c071ac05dee8511b9af626fe5b07bf271ce48df66cf4013d4b4b280bb74eac6206d772aa24f1e766bc813dc68a461736392ce97f8a04121028d75bdff57fcecff68f2927092b15074a4524a8d8182b6de761f6af3b8c6ba8f0000000002ce040000000000001976a914e7f58a9d4dfa6fdf481f03ff9e696c1c1eadd36688acb4168900000000001976a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac00000000
                - 0200000001a65bd9dd41ea0baf7b41b02c25e59e1ef6838b666e47173a74dcf218919f31a7010000006441f1489e83baad016eb63e3ebfe6bda264652fa188877e2efed9261566265cb31cff5091878f6a965b7184d538d8fe285b1ba4e3f18f53f44a30de3a36635750c34121028d75bdff57fcecff68f2927092b15074a4524a8d8182b6de761f6af3b8c6ba8f0000000002cf0400000000000017a914d1b0b139593754efcaab5ad20d13dd3be82e5bfe875e1c8900000000001976a914dd1eee80cebba451dc26f6423881b8836fe86a8388ac00000000
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid argument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/mempool':
    get:
      tags:
        - Transaction
      operationId: getMempool
      summary: Mempool Transaction Hashes
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of transaction hashes from mempool.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - a60e3b0775e08877d0a8edac874090034f2fa55a15fb339b98b18abb5c8cbdf3
                - c9c50b1f75b4a69319c51ffae3a47df7de99b02089e696b711244fd4591eb51e
                - 11acbc09285f99d2cc11b707b61952258d554dcffe9a91ab0f6a22d1b06ac618
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/events':
    get:
      tags:
        - Block
        - Transaction
      operationId: getEventStream
      parameters:
        - $ref: '#/components/parameters/prettyParam'
      summary: Stream Blocks and Transactions
      responses:
        '200':
          description: Events stream each on one line.
          content:
            application/x-json-stream:
              schema:
                $ref: '#/components/schemas/Event'
              example:
                type: tx
                id: 3e225aa5d41b0f7560ee641f86b00728adc626102b348f9d319e0fdfd848a0db
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/peers':
    get:
      tags:
        - Network
      operationId: getPeers
      parameters:
        - $ref: '#/components/parameters/prettyParam'
      summary: Connected Network Peers
      responses:
        '200':
          description: List of peer objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Peer'
              example:
                - useragent: /BCH Unlimited:1.9.2(EB32; AD12; 64bit)/
                  address: 162.250.189.42:8333
                  version: 80003
                  services: "0000000000000875"
                  relay: true
                - useragent: /BCH Unlimited:1.9.2(EB32; AD12; 64bit)/
                  address: 154.57.12.149:8331
                  version: 80003
                  services: "0000000000000875"
                  relay: true
                - useragent: /Bitcoin Cash Node:23.0.0(EB32.0)/
                  address: 206.189.127.50:8333
                  version: 70015
                  services: "0000000000000425"
                  relay: true
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  '/xpub/{xpub}':
    get:
      tags:
        - Address
        - Slow
      operationId: getXPubSummary
      summary: Extended Public Key Summary
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Information about extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XPubSummary'
              example:
                balance:
                  confirmed: 84994
                  unconfirmed: 0
                  received: 137003577
                  utxo: 3
                indices:
                  change: 27
                  external: 73
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Address
        - Slow
      operationId: deleteCachedXPub
      summary: Delete Cached Extended Key
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/nocacheParam'
      responses:
        '200':
          description: True if xpub got deleted from cache.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    type: boolean
                    nullable: false
                    example: true
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid argument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/xpub/{xpub}/transactions/full':
    get:
      tags:
        - Address
        - Slow
      operationId: getXPubTransactionsFull
      summary: Detailed Extended Public Key Transactions
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of transaction objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
              example:
                - txid: f2ffa044fa3851c88e739ef76f13b960a828b5c1c7a71005a9315969c4924103
                  size: 406
                  version: 1
                  locktime: 0
                  fee: 675
                  inputs:
                    - coinbase: false
                      txid: ae3fc465a80264f45fa6f865ede43017d9826560299b6fb344d5cde84416b931
                      output: 1
                      sigscript: 473044022073b48b298df7ffb4ed5bb54ae939968e82fa966bc92d61728c8f7e6e6d914e1b022042164959fdbbd3cda2cdaf541a2143be79f4be85144bfef7906223c8a8cb2b2a4121029c71d9b4b94e8aa48072d1affba3432560d3e79648491d4b6351d3ddff51aa8f
                      sequence: 4294967295
                      pkscript: 76a91474e607acf5ecdef5f9746ffa280744413a595cdb88ac
                      value: 70000
                      address: bitcoincash:qp6wvpav7hkdaa0ew3hl52q8g3qn5k2umvmh76m9eh
                      witness: []
                    - coinbase: false
                      txid: 6fc0394cea4f5f82fe8f332118a9079469336be53bc73975e9d58a99fbbc7ca2
                      output: 1
                      sigscript: 47304402204dc38ccbb6b3f6dcf496b7405bfc3f1942c3834197a32af9e07e6a1f2d916c9502203a9f536951cb672b76111ec58cca35971c06af2bfaa481bd1aee67a03428e78341210250dce9058b388bbc4014d3600770b9bb59b7636a2eef591797d9572014065c94
                      sequence: 4294967295
                      pkscript: 76a91473cdab4b3e2486f7cbe618845f106109e5920aa588ac
                      value: 546
                      address: bitcoincash:qpeum26t8cjgda7tucvgghcsvyy7tys255ej7ux8wg
                      witness: []
                  outputs:
                    - address: bitcoincash:qz3k0wyd62g3njyucgcnpd72zq0r7rpsmumj82gvl4
                      pkscript: 76a914a367b88dd29119c89cc23130b7ca101e3f0c30df88ac
                      value: 30000
                      spent: false
                      spender: null
                    - address: bitcoincash:qpfvtmtyvfh3m5ul9kyc8gxefdpk2fx0syxxf7f6py
                      pkscript: 76a91452c5ed64626f1dd39f2d8983a0d94b436524cf8188ac
                      value: 39325
                      spent: false
                      spender: null
                    - address: bitcoincash:qrdf6e456fx6cmp6nwn9vhp4t6es7cuv9cfhvgdg5m
                      pkscript: 76a914da9d66b4d24dac6c3a9ba6565c355eb30f638c2e88ac
                      value: 546
                      spent: true
                      spender:
                        txid: 8c9f0ab27f96baca66d7a2eee5db8acd6b0b5fc725afbc3c2ea69c3d5b04aa7d
                        input: 1
                  block:
                    height: 680268
                    position: 6664
                  deleted: false
                  time: 1616669866
                  rbf: false
                  weight: 1624
                - txid: ae3fc465a80264f45fa6f865ede43017d9826560299b6fb344d5cde84416b931
                  size: 851
                  version: 1
                  locktime: 0
                  fee: 1998
                  inputs:
                    - coinbase: false
                      txid: 26ce9896f0f64349670735bdc30fb42adadac61348e403e78c5f92c3fb697355
                      output: 0
                      sigscript: 483045022100b8feba7bfc7a0809c616694237bd5e82f6f3a5fafbe0bad0366879732fa829bc02203dce83fe508b86a1449c404756c274e11ea47decc4f8802cfd2ab7e92ed7b51b41210388e0b3a8e3aa50414ac8c03ae02ac1c9931d901ad7b6c1b7b83d50554fb592d8
                      sequence: 4294967295
                      pkscript: 76a914c58a0c635b60d94498c416d32d4a2c15b36f8a2388ac
                      value: 40537
                      address: bitcoincash:qrzc5rrrtdsdj3yccstdxt229s2mxmu2yvj7ppp3cl
                      witness: []
                    - coinbase: false
                      txid: 41a422e6c003596954f07eb5021d9a2d6951da297dd519a5de3885772ac60e7c
                      output: 1
                      sigscript: 483045022100ad61cb3b0f08af0ada0ebb5be16213377fa193c9da16e4dca58a9350724106330220089ac5eea5193f0926a483668eef219c7add5fa7d2be99a63e41da985fc104a241210223dc345218b6feb1815f0f103bc30a8508e3e248c4f9b4bfdfed1d4498f879b4
                      sequence: 4294967295
                      pkscript: 76a9145590a6b61c7d22a199692ce9c55cef294acebbeb88ac
                      value: 40000
                      address: bitcoincash:qp2epf4kr37j9gvedykwn32uau554n4mavzhpyg2ua
                      witness: []
                    - coinbase: false
                      txid: de01f52644b2610d491d28ce474382c57655f102974526a3fba6b5a48f8ea812
                      output: 0
                      sigscript: 483045022100d29b0dd38462a33eac65eb8df53ba2b2905bac923057f5b37e2094f1a6072355022017480d0f2eedaa5f3ff2ca620a7b5b9301292524dfcaaa9c97859ee074f92b6e412102db25e4df201e02e95f167f63e06c55febe81fd07133fb09f65b07a356aa645ec
                      sequence: 4294967295
                      pkscript: 76a91457725700f16eda53d75608972ff322dd05642a8f88ac
                      value: 3000
                      address: bitcoincash:qpthy4cq79hd557h2cyfwtlnytws2ep23u6k07qh8v
                      witness: []
                    - coinbase: false
                      txid: de01f52644b2610d491d28ce474382c57655f102974526a3fba6b5a48f8ea812
                      output: 1
                      sigscript: 4830450221008ee0107bfc71e063ff8d5ab98f83bb63f17bda387d049b2c9e7ff885941a3859022015baabbc9280c70a19a6047f1028f261f5686b8342273316b4e2d703ab72d6264121027b884db5a796d7f96412a2efbf5961ef824323c8b064e375c3e0dd512c6a010a
                      sequence: 4294967295
                      pkscript: 76a9145f8e761ff252d3349c32e6bc12a5e11ba20aa3f188ac
                      value: 4130
                      address: bitcoincash:qp0cuasl7ffdxdyuxtntcy49uyd6yz4r7y8u0ss3yd
                      witness: []
                    - coinbase: false
                      txid: b0fddc9d29b86c695af3dd66b1834256c362698532585a597de9c800f04fde06
                      output: 401
                      sigscript: 473044022034251190cae8ba9197f81756778d5fbf071e63bb7460386fbb36cd74d47560a9022050a1cfec6076b8e7f23cd6e843b64cb2582476fd4b44fadb387803ed9ad4f1e54121037779735684011f62563197944da9f9e074b17813c0c62e79aeac7d875f9b8bf2
                      sequence: 4294967295
                      pkscript: 76a91475dcf340cbb686b30bdaf6a2c8f8c68dadf93a5a88ac
                      value: 546
                      address: bitcoincash:qp6aeu6qewmgdvctmtm29j8cc6x6m7f6tgc6ey2mqu
                      witness: []
                  outputs:
                    - address: bitcoincash:qpg4r52nu85ra68aj4uecg0mufzu9hkmj5pxlaxfp2
                      pkscript: 76a9145151d153e1e83ee8fd95799c21fbe245c2dedb9588ac
                      value: 15669
                      spent: false
                      spender: null
                    - address: bitcoincash:qp6wvpav7hkdaa0ew3hl52q8g3qn5k2umvmh76m9eh
                      pkscript: 76a91474e607acf5ecdef5f9746ffa280744413a595cdb88ac
                      value: 70000
                      spent: true
                      spender:
                        txid: f2ffa044fa3851c88e739ef76f13b960a828b5c1c7a71005a9315969c4924103
                        input: 0
                    - address: bitcoincash:qq0kufslm9n5v0t5m5vy9gtnuupvpep0wv57sfl7gj
                      pkscript: 76a9141f6e261fd967463d74dd1842a173e702c0e42f7388ac
                      value: 546
                      spent: true
                      spender:
                        txid: d84d05a569d944a92bcb9aa63049b9279369cd44e41ef365da13312ce680530f
                        input: 1
                  block:
                    height: 678972
                    position: 832
                  deleted: false
                  time: 1615894044
                  rbf: false
                  weight: 3404
                - txid: de01f52644b2610d491d28ce474382c57655f102974526a3fba6b5a48f8ea812
                  size: 406
                  version: 1
                  locktime: 0
                  fee: 675
                  inputs:
                    - coinbase: false
                      txid: 41a422e6c003596954f07eb5021d9a2d6951da297dd519a5de3885772ac60e7c
                      output: 0
                      sigscript: 473044022029a10619e7e98a3e7cb17821ab0725ef25b700a9b943965c8762ee3b4e19546202200be34da0f640cd3209e5f11a3b1824409df92cae6a0efd8449d8e22faaae7865412103b3a86c342fd06c33e94dcbe2565fc3d9d6c4c081caa0f1ec42bb45bbbbaf2e43
                      sequence: 4294967295
                      pkscript: 76a9144abb2deefe6ca46c695132adafd70f72d50cab2688ac
                      value: 7805
                      address: bitcoincash:qp9tkt0wlek2gmrf2ye2mt7hpaed2r9tycna42c5ax
                      witness: []
                    - coinbase: false
                      txid: 9a396103f3656b4e119f166610d7e41e24c01a5c45200a8fcb58d3b79fb0dcaf
                      output: 315
                      sigscript: 4730440220271872d09da2cc13b764b5bf13cc373da53d89421e0d31ac33a73420c5e6a03902206e01bf837db72fa4340428e3d061685cc49ec156a65e4b48babcfd5d6c89018f4121033da5e50b4615d790b9b755cf5db213b0d08d489587d8946a7dfd1b8dc76a1829
                      sequence: 4294967295
                      pkscript: 76a914485103c1b046fe0f3ca0ed9ced338b53437c0c8288ac
                      value: 546
                      address: bitcoincash:qpy9zq7pkpr0ureu5rkeemfn3df5xlqvsgf66pqne5
                      witness: []
                  outputs:
                    - address: bitcoincash:qpthy4cq79hd557h2cyfwtlnytws2ep23u6k07qh8v
                      pkscript: 76a91457725700f16eda53d75608972ff322dd05642a8f88ac
                      value: 3000
                      spent: true
                      spender:
                        txid: ae3fc465a80264f45fa6f865ede43017d9826560299b6fb344d5cde84416b931
                        input: 2
                    - address: bitcoincash:qp0cuasl7ffdxdyuxtntcy49uyd6yz4r7y8u0ss3yd
                      pkscript: 76a9145f8e761ff252d3349c32e6bc12a5e11ba20aa3f188ac
                      value: 4130
                      spent: true
                      spender:
                        txid: ae3fc465a80264f45fa6f865ede43017d9826560299b6fb344d5cde84416b931
                        input: 3
                    - address: bitcoincash:qrcdtjvwn9v2r94y6flka67tvqt99a9cjq3fk9k8ws
                      pkscript: 76a914f0d5c98e9958a196a4d27f6eebcb601652f4b89088ac
                      value: 546
                      spent: true
                      spender:
                        txid: a93609dbae718b5f6c9ab69cf3f8d979636f09a411f057db8fa65b17556de601
                        input: 1
                  block:
                    height: 678151
                    position: 657
                  deleted: false
                  time: 1615384806
                  rbf: false
                  weight: 1624

            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/xpub/{xpub}/transactions':
    get:
      tags:
        - Address
        - Slow
      operationId: getXPubTransactions
      summary: Extended Public Key Transaction List
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/heightParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: List of transactions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TxRef'
              example:
                - txid: f2ffa044fa3851c88e739ef76f13b960a828b5c1c7a71005a9315969c4924103
                  block:
                    height: 680268
                    position: 6664
                - txid: ae3fc465a80264f45fa6f865ede43017d9826560299b6fb344d5cde84416b931
                  block:
                    height: 678972
                    position: 832
                - txid: de01f52644b2610d491d28ce474382c57655f102974526a3fba6b5a48f8ea812
                  block:
                    height: 678151
                    position: 657
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Invalid extended public key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/xpub/{xpub}/balances':
    get:
      tags:
        - Address
        - Slow
      operationId: getXPubBalances
      summary: Extended Public Key Balances
      parameters:
        - $ref: '#/components/parameters/xpubParam'
        - $ref: '#/components/parameters/xpubDerive'
        - $ref: '#/components/parameters/nocacheParam'
        - $ref: '#/components/parameters/prettyParam'
      responses:
        '200':
          description: Balances only for used addresses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XPubBalance'
              example:
                - path:
                    - 0
                    - 0
                  balance:
                    address: bitcoincash:qpyq63tvlk0pca8mah6a8c0zxrvq8qvjzymrrnwprn
                    confirmed: 0
                    unconfirmed: 0
                    utxo: 0
                    txs: 8
                    received: 4530000
                - path:
                    - 0
                    - 1
                  balance:
                    address: bitcoincash:qqjfkpxln3ya6dq7l27ffdxcmq2h9hlfjvr70vk9l7
                    confirmed: 0
                    unconfirmed: 0
                    utxo: 0
                    txs: 2
                    received: 10000
                - path:
                    - 0
                    - 2
                  balance:
                    address: bitcoincash:qzxfymuk5t4veu0kxf7t0cmkn76t69skuggxaq2q8d
                    confirmed: 0
                    unconfirmed: 0
                    utxo: 0
                    txs: 2
                    received: 23000
            application/octet-stream:
              schema:
                type: string
[...]
